<template>
    <div class="mb-10">
        <v-row class="mt-10">
            <v-col cols="12" class="text-center" style="padding:0px !important">
                <p class="font-1">Where can you order?</p>
                <p class="font-2">
                    ลูกค้าสามารถเลือกดูสินค้าได้จากเว็บต่อไปนี้
                </p>
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="12" style="padding:0px !important">
                <!-- :gap="1" -->
                <vueper-slides
                    :duration="1100"
                    :bullets="false"
                    autoplay
                    infinite
                    :visible-slides="3"
                    :slide-ratio="1 / 5"
                    :dragging-distance="100"
                    :breakpoints="{
                        100: { visibleSlides: 2, slideMultiple: 2 },
                    }"
                >
                    <template v-slot:arrow-left>
                        <i class="icon icon-arrow-left" />
                    </template>

                    <template v-slot:arrow-right>
                        <i class="icon icon-arrow-right" />
                    </template>
                    <vueper-slide
                        v-for="(r, i) in img"
                        :key="i"
                        :image="r.src"
                        :link="r.link"
                        target="_blank"
                    />
                </vueper-slides>
            </v-col>
        </v-row>
        <v-container class="mt-10">
            <v-row>
                <v-col cols="12" class="text-center">
                    <p class="font-1">How to Order</p>
                    <p class="font-2 mar-t-10">
                        วิธีการสั่งสินค้า
                    </p>
                </v-col>
            </v-row>
            <v-row no-gutters>
                <v-col cols="6" md="4" class="fix-center mt-5 mb-5">
                    <img class="img-1" src="../../assets/menu3/1.png" />
                    <span class="font-svg ">สมัครสมาชิก Banana The Cargo</span>
                </v-col>
                <v-col cols="6" md="4" class="fix-center mt-5 mb-5">
                    <img class="img-1" src="../../assets/menu3/2.png" />
                    <span class="font-svg "
                        >เลือกสินค้า จาก 4 Market Place ยอดนิยมของจีนได้แก่
                        Tmall ,Taobao,1688 และAlibaba
                    </span>
                </v-col>
                <v-col cols="6" md="4" class="fix-center mt-5 mb-5">
                    <img class="img-1" src="../../assets/menu3/3.png" />
                    <span class="font-svg ">
                        นำlink ที่ต้องการสั่งซื้อใส่ในช่อง Find by link
                        หรือส่งให้แอดมิน ระบุสี รหัส ขนาด จำนวน ตามที่ต้องการ
                        (หากมีรายละเอียดเพิ่มเติมกรุณาใส่ข้อความหมายเหตุ)
                    </span>
                </v-col>
                <v-col cols="6" md="4" class="fix-center mt-5 mb-5">
                    <img class="img-1" src="../../assets/menu3/4.png" />
                    <span class="font-svg "
                        >เจ้าหน้าที่สรุปคำสั่งซื้อ ชำระยอดสั่งซื้อ งวดแรก
                        รอร้านจีนจัดส่ง ออกจากโกดัง ทางรถรอ 5-10วัน ทางเรือรอ
                        15-20วัน
                    </span>
                </v-col>
                <v-col cols="6" md="4" class="fix-center mt-5 mb-5">
                    <img class="img-1" src="../../assets/menu3/5.png" />
                    <span class="font-svg "
                        >สินค้าถึงโกดังไทยทีมงานสรุปยอดงวดสอง ชำระงวด2
                        เสร็จสิ้นขั้นตอน</span
                    >
                </v-col>
                <v-col cols="6" md="4" class="fix-center mt-5 mb-5">
                    <img class="img-1" src="../../assets/menu3/6.png" />
                    <span class="font-svg ">รับสินค้า</span>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>
<script>
import { VueperSlides, VueperSlide } from "vueperslides"
import "vueperslides/dist/vueperslides.css"
export default {
    components: { VueperSlides, VueperSlide },
    data() {
        return {
            img: [
                {
                    id: 1,
                    src: require("../../assets/menu2/1.png"),
                    link: " https://www.tmall.com/",
                },
                {
                    id: 2,
                    src: require("../../assets/menu2/2.png"),
                    link: "https://ai.taobao.com/",
                },
                {
                    id: 3,
                    src: require("../../assets/menu2/3.jpeg"),
                    link: "https://www.alibaba.com/",
                },
                {
                    id: 4,
                    src: require("../../assets/menu2/4.png"),
                    link: "https://m.1688.com/",
                },
            ],
        }
    },
}
</script>
<style scoped>
.img-1 {
    width: 16%;
}
.fix-center {
    display: flex;
    align-items: center;
}
.font-1 {
    font-weight: bold;
    /* font-size: 4vw; */
    font-size: 55px;
}
.font-2 {
    font-weight: bold;
    /* font-size: 1.1vw; */
    font-size: 16px;
}

.fix-svg-1 {
    width: 20%;
}
.fix-svg-2 {
    width: 15%;
}
.fix-svg-3 {
    width: 25%;
}
.font-svg {
    /* font-weight: bold; */
    margin-left: 10px;
    padding: 5px;
    font-size: 14px;
    font-family: inherit;
}
</style>
