<template>
    <div>
        <v-row align="center" justify="center">
            <v-col
                v-for="(article, i) in articles"
                :Key="i"
                cols="12"
                sm="6"
                md="3"
            >
                <v-card
                    :loading="loading"
                    class="mx-auto my-12"
                    max-width="374"
                >
                    <template slot="progress">
                        <v-progress-linear
                            color="deep-purple"
                            height="10"
                            indeterminate
                        ></v-progress-linear>
                    </template>

                    <v-img height="250" :src="article.article_picture"></v-img>

                    <v-card-title>{{ article.article_title }}</v-card-title>

                    <v-card-text class="mb-5" style="min-height:80px">
                        <div>
                            {{ article.article_subtitle }}
                        </div>
                    </v-card-text>

                    <v-divider class="mx-4"></v-divider>

                    <v-card-actions v-if="article.article_link">
                        <v-spacer></v-spacer>
                        <a :href="article.article_link" target="_blank">
                            <v-btn color="blue accent-2" text>
                                อ่านต่อ
                            </v-btn>
                        </a>
                    </v-card-actions>
                </v-card>
            </v-col>

            <!-- <v-col cols="12">
                <div style="width: 100%">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7004.727839473956!2d100.20700640297332!3d16.808758565550608!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30dfbdc3f77bd9fd%3A0x491e4222e8a65be2!2sDessert%20shop!5e0!3m2!1sth!2sth!4v1624947869601!5m2!1sth!2sth"
                        width="100%"
                        height="500"
                        style="border:0;"
                        allowfullscreen=""
                        loading="lazy"
                    ></iframe>
                </div>
            </v-col> -->

            <!-- <v-col cols="12" sm="6" md="3">
                <v-card
                    :loading="loading"
                    class="mx-auto my-12"
                    max-width="374"
                >
                    <template slot="progress">
                        <v-progress-linear
                            color="deep-purple"
                            height="10"
                            indeterminate
                        ></v-progress-linear>
                    </template>

                    <v-img height="250" src="../../assets/a-1.jpg"></v-img>

                    <v-card-title>วิธีใช้งานเว็บไซต์ของเรา</v-card-title>

                    <v-card-text class="mb-5">
                        <div>
                            อธิบายวิธีการใช้เว็บไซต์เบื้องต้น
                            ให้การสั่งของจากประเทศจีนเป็นเรื่องง่าย ราคาดี
                            ติดตามสถานะได้
                        </div>
                    </v-card-text>

                    <v-divider class="mx-4"></v-divider>

                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue accent-2" text>
                            อ่านต่อ
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-col>

            <v-col cols="12" sm="6" md="3">
                <v-card
                    :loading="loading"
                    class="mx-auto my-12"
                    max-width="374"
                >
                    <template slot="progress">
                        <v-progress-linear
                            color="deep-purple"
                            height="10"
                            indeterminate
                        ></v-progress-linear>
                    </template>

                    <v-img height="250" src="../../assets/a-2.jpg"></v-img>

                    <v-card-title>บริการของเรา</v-card-title>

                    <v-card-text>
                        <div>
                            บริการทุกขั้นตอนของเราไม่ว่าจะเป็นฝากซื้อ ฝากจ่าย
                            ติดต่อนำเข้าสินค้าทั้งดีลเองหรือให้เราดีลให้
                            รวมถึงบริการนำเข้าแบบเหมาตู้
                            และติดต่อโรงงานประเทศจีน
                        </div>
                    </v-card-text>

                    <v-divider class="mx-4"></v-divider>

                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue accent-2" text>
                            อ่านต่อ
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-col>

            <v-col cols="12" sm="6" md="3">
                <v-card
                    :loading="loading"
                    class="mx-auto my-12"
                    max-width="374"
                >
                    <template slot="progress">
                        <v-progress-linear
                            color="deep-purple"
                            height="10"
                            indeterminate
                        ></v-progress-linear>
                    </template>

                    <v-img height="250" src="../../assets/a-3.jpg"></v-img>

                    <v-card-title>วิธีสมัครสมาชิก Taobao 1688</v-card-title>

                    <v-card-text>
                        <div>
                            สำหรับลูกค้าที่อยากมีไอดีกดสั่งของเองไม่ว่าจะเป็นจากเว็บสุดฮิตของจันอย่าง
                            1688, Taobao, Tmall, Alibaba เรามีวิธีเปิดไอดีให้ดู
                        </div>
                    </v-card-text>

                    <v-divider class="mx-4"></v-divider>

                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue accent-2" text>
                            อ่านต่อ
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-col>

            <v-col cols="12" sm="6" md="3">
                <v-card
                    :loading="loading"
                    class="mx-auto my-12"
                    max-width="374"
                >
                    <template slot="progress">
                        <v-progress-linear
                            color="deep-purple"
                            height="10"
                            indeterminate
                        ></v-progress-linear>
                    </template>

                    <v-img height="250" src="../../assets/a-4.png"></v-img>

                    <v-card-title>อัพเดทสินค้าน่าซื้อ</v-card-title>

                    <v-card-text class="mb-5">
                        <div>
                            อัพเดทเทรนด์สินค้าน่าซื้อพร้อมลิ้งค์ให้กดสั่งซื้ออย่างง่ายดาย
                        </div>
                    </v-card-text>

                    <v-divider class="mx-4"></v-divider>

                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue accent-2" text>
                            อ่านต่อ
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-col> -->
        </v-row>
    </div>
</template>

<script>
export default {
    props: ["articles"],
}
</script>
