<template>
    <div class="pr-3">
        <v-row class="mar-t-40">
            <v-col cols="12" class="text-center" style="padding:0px !important">
                <!-- <img class="img-1" src="../../assets/find.jpg" /> -->
                <!-- class="centered" -->
                <v-row>
                    <v-col cols="12" sm="6" class="text-right bg-1">
                        <div class="bg1">
                            <p class="text-1 mr-10">FIND BY</p>
                            <p class="text-1 mr-10 mar-t-30">LINK</p>
                            <p class="text-2 mr-10">
                                ค้นหาโดยลิงค์ วางลิงค์ในแถบค้นหาแล้วกด enter
                            </p>
                            <!-- <v-text-field
                                    label="Search Site"
                                    prepend-inner-icon="mdi-magnify"
                                    dense
                                    outlined
                                ></v-text-field> -->
                            <input
                                v-model="search_link"
                                type="text"
                                placeholder="ใส่ Link แล้วกด Enter"
                                class="input-css mr-10"
                                required
                                v-on:keyup.enter="func_search_link()"
                            />
                        </div>
                    </v-col>
                    <v-col cols="12" sm="6" class="text-left bg-2">
                        <div class="bg2">
                            <p class="text-1 ml-10">FIND BY</p>
                            <p class="text-1 ml-10 mar-t-30">PHOTO</p>
                            <p class="text-2 ml-10">
                                ค้นหาโดยรูปภาพ หรือ สอบถามเพิ่มเติม
                                กรุณาติดต่อแอดมิน
                            </p>
                            <!-- <v-spacer> </v-spacer> -->
                            <!-- <v-text-field
                                        label="Search Site"
                                        prepend-inner-icon="mdi-magnify"
                                        dense
                                        outlined
                                    ></v-text-field> -->
                            <!-- <input
                                    
                                    v-model="search_photo"
                                    type="text"
                                    placeholder="ติดต่อแอดมิน"
                                    class="input-css ml-10"
                                    required
                                    disabled
                                /> -->

                            <v-btn
                                rounded
                                class="primary--text ml-10"
                                @click="get_link('line')"
                                style="margin-top:-2px;"
                            >
                                ติดต่อแอดมิน
                            </v-btn>
                        </div>
                    </v-col>
                </v-row>
            </v-col>
        </v-row>

        <v-dialog v-model="dialog_manual" persistent max-width="550px">
            <v-form method="post" id="nativeForm" v-model="validManual">
                <v-card>
                    <v-card-text>
                        <v-container fluid>
                            <v-row>
                                <v-col cols="12">
                                    <h3>
                                        ไม่สามารถโหลดข้อมูลจากเว็บต้นทางได้
                                        ลูกค้าสามารถกรอกรายละเอียดลงฟอร์มนี้แล้วกดบันทึกเข้าตะกร้าสินค้าได้เลย
                                    </h3>
                                </v-col>
                                <v-col cols="12" class="pa-1 pl-3 pr-3">
                                    <b
                                        >Link สินค้า
                                        <span class="red--text">*</span></b
                                    >
                                </v-col>
                                <v-col cols="12" class="pa-1 pl-3 pr-3">
                                    <v-text-field
                                        v-model="manual.link"
                                        dense
                                        outlined
                                        :rules="linkR"
                                    ></v-text-field>
                                </v-col>
                                <v-col cols="12" class="pa-1 pl-3 pr-3">
                                    <b
                                        >ชื่อสินค้า
                                        <span class="red--text">*</span>
                                    </b>
                                    <v-text-field
                                        v-model="manual.title"
                                        dense
                                        outlined
                                        :rules="titleR"
                                    ></v-text-field>
                                </v-col>
                                <v-col cols="12" class="pa-1 pl-3 pr-3">
                                    <b>รายละเอียดสินค้าเพิ่มเติม</b>
                                    <v-text-field
                                        v-model="manual.options"
                                        dense
                                        outlined
                                    ></v-text-field>
                                </v-col>
                                <v-col cols="4" class="pa-1 pl-3 pr-3">
                                    <b
                                        >ราคา/หน่วย (หยวน)
                                        <span class="red--text">*</span>
                                    </b>
                                    <v-text-field
                                        v-model="manual.price"
                                        dense
                                        type="number"
                                        outlined
                                        @change="calSum()"
                                        :rules="priceR"
                                    ></v-text-field>
                                </v-col>
                                <v-col cols="4" class="pa-1 pl-3 pr-3">
                                    <b
                                        >จำนวนสินค้า
                                        <span class="red--text">*</span>
                                    </b>
                                    <v-text-field
                                        v-model="manual.qty"
                                        dense
                                        outlined
                                        @change="calSum()"
                                        type="number"
                                        :rules="qtyR"
                                    ></v-text-field>
                                </v-col>
                                <v-col cols="4" class="pa-1 pl-3 pr-3">
                                    <b>ราคารวม (หยวน)</b>
                                    <v-text-field
                                        v-model="manual.total_price"
                                        dense
                                        outlined
                                        disabled
                                    ></v-text-field>
                                </v-col>
                                <v-col cols="6" class="pa-1 pl-3 pr-3">
                                    <b
                                        >รายละเอียดสินค้าเพิ่มเติมหรืออื่นๆ เช่น
                                        ขอตีลังไม้ เป็นต้น</b
                                    >
                                    <v-textarea
                                        outlined
                                        v-model="manual.remark"
                                        background-color="#fffdf0"
                                        rows="3"
                                        dense
                                    ></v-textarea>
                                </v-col>
                                <v-col cols="6" class="pa-1 pl-3 pr-3">
                                    <v-file-input
                                        label="คลิกเพื่ออัพโหลดรูปสินค้า"
                                        v-model="manual.img"
                                        dense
                                        @change="changeBase64()"
                                    ></v-file-input>
                                    {{ manual.img }}
                                </v-col>
                            </v-row>
                        </v-container>
                    </v-card-text>
                    <v-card-actions class="mar-t-30">
                        <v-btn color="blue darken-1" text @click="clear_form()">
                            ยกเลิก
                        </v-btn>
                        <v-spacer></v-spacer>
                        <v-btn
                            rounded
                            color="primary"
                            :disabled="!validManual"
                            @click="save_manual()"
                        >
                            บันทึกข้อมูลลงตะกร้าสินค้า
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-form>
        </v-dialog>

        <v-dialog v-model="dialog_loading" hide-overlay persistent width="320">
            <v-card color="amber" dark>
                <v-card-text>
                    <span class="mt-1 white--text">Loading</span>
                    <v-progress-linear
                        indeterminate
                        color="white"
                        class="mb-0"
                    ></v-progress-linear>
                </v-card-text>
            </v-card>
        </v-dialog>
    </div>
</template>
<script>
import axios from "axios"

let url = `${process.env.VUE_APP_ROOT_API}/api/`

export default {
    props: ["users"],
    beforeMount() {
        this.tk = {
            headers: { Authorization: "Bearer " + localStorage.token },
        }
    },
    mounted() {
        this.data_users = this.users
    },
    methods: {
        calSum() {
            this.manual.total_price = this.manual.price * this.manual.qty
        },
        async func_search_link() {
            if (
                this.data_users.name == undefined ||
                this.data_users.name == ""
            ) {
                this.$emit("login")
            } else {
                if (this.search_link != "") {
                    let url =
                        "https://test.bananathecargo.com/index.php/api/obapi/getItem"
                    let formData = new FormData()
                    formData.append("url", this.search_link)

                    this.dialog_loading = true

                    await axios
                        .post(url, formData)
                        .then((response) => {
                            // alert(response.data.msg)
                            this.dialog_loading = false
                            if (
                                response.data.msg == "Feedback success" &&
                                response.data.data.length > 0
                            ) {
                                this.$emit("page_search_link", response.data)
                            } else {
                                // this.$swal({
                                //     title: "ERROR",
                                //     text: response.data.msg,
                                //     icon: "warning",
                                //     button: true,
                                // })
                                this.dialog_manual = true
                                this.manual.link = this.search_link
                            }
                        })
                        .catch((error) => {
                            console.log(error)
                            this.dialog_loading = false
                            this.dialog_manual = true
                            this.manual.link = this.search_link
                        })
                }
            }
        },
        async save_manual() {
            // console.log(this.manual.img_base64, "img_base64")
            // FORM
            let formData = new FormData()
            formData.append("price", this.manual.price)
            formData.append("qty", this.manual.qty)
            formData.append("title", this.manual.title)
            formData.append("options", this.manual.options)
            formData.append("remark", this.manual.remark)
            formData.append("img_base64", this.manual.img_base64)
            formData.append("detail_url", this.manual.link)

            this.dialog_loading = true

            // Save Img
            await axios
                .post(url + "cart/manual-save", formData, this.tk)
                .then(() => {
                    this.dialog_manual = false
                    this.dialog_loading = false
                    this.clear_form()
                    this.$emit("reload_data", "Y")
                })
                .catch(function(error) {
                    console.log(error, "-- upload img error")
                })
        },
        changeBase64() {
            // BASE64
            var reader = new FileReader()
            reader.readAsDataURL(this.manual.img)
            reader.onload = () => {
                this.manual.img_base64 = reader.result
            }
            reader.onerror = function(error) {
                console.log("Error: ", error)
            }
        },
        get_link(st) {
            // console.log(st)
            let url =
                st == "face"
                    ? "https://www.facebook.com/Bananathecargo"
                    : "https://lin.ee/HcrQ5kZ"
            window.open(url, "_blank")
        },
        clear_form() {
            this.manual = {
                link: "",
                title: "",
                options: "",
                price: 0,
                qty: 0,
                total_price: 0,
                remark: "",
                img: "",
                img_base64: "",
            }
            this.dialog_manual = false
        },
    },
    data: () => ({
        manual: {
            link: "",
            title: "",
            options: "",
            price: 0,
            qty: 0,
            total_price: 0,
            remark: "",
            img: "",
            img_base64: "",
        },
        dialog_manual: false,
        tk: null,
        search_link: "",
        // search_link:
        //     "https://detail.tmall.com/item.htm?spm=a211oj.22765271/uibase.8257591980.2.4e3b6e15Mk9kRt&id=41861379267&scm=1007.12144.215053.18479930_0_0&pvid=d4760c45-a0f9-44cc-8c5e-93701571aaed&utparam=%7B%22x_hestia_source%22:%22tm_fen_floor%22,%22x_object_type%22:%22item%22,%22x_hestia_subsource%22:%22default%22,%22x_mt%22:8,%22x_src%22:%22tm_fen_floor%22,%22x_pos%22:2,%22wh_pid%22:239142,%22x_pvid%22:%22d4760c45-a0f9-44cc-8c5e-93701571aaed%22,%22scm%22:%221007.12144.215053.18479930_0_0%22,%22x_object_id%22:41861379267,%22tpp",
        // search_link: "https://detail.tmall.com/item.htm?id=645405815128&spm=a2141.241046-mo.feeds.d_3_0.41ca6f11Nrf5bE&country=MO&pvid=f94f4639-e056-4e9b-9e47-1d232c673bc3&scm=1007.35313.223891.0&utLogMap=%7B%22card_subtype%22:%22auction%22,%22up_pvid%22:%22095c6e62-44f7-4077-9c37-7161a2178936%22,%22x_object_type%22:%22item%22,%22matrix_score%22:0.0,%22x_extend%22:%22matchtype:rhot#adCtr:0.0#isNovel0#oriMatchType:rhot#sts:0#NewauctionLevel:#deepRecallRankScore:0.0118#matchTypeList:rhot#mind_similar_score:0.0#triggerKeys:rhot_trigger_list*80000002072$#lts:0#final__score__:0.0118#NewauctionSource:#BoostStage:#rtcis:1.0#gcvr:0.0#lsrs:0.0#triggerQ:0.0#ltrscore:0.0#ecpm:0.0#exp_type:exp1#benefit:#mega_id:24#virtual_cate:99#cat:302910#wp:F#sl:T%22,%22x_monitor_info%22:%22rhot-be##80000002072#0.011376#0.002173#15.8#0.054662#0#be#0##1.000000#1.000000#3544240460%22,%22miniapp_score%22:0.0,%22hybrid_score%22:0.05466225743293762,%22sessionid%22:%22f94f4639-e056-4e9b-9e47-1d232c673bc3%22,%22card_type%22:%22auction%22,%22tpp_buckets%22:%22%22,%22x_ts%22:1625197653194,%22miniapphc_score%22:0.0,%22pvid%22:%22f94f4639-e056-4e9b-9e47-1d232c673bc3%22,%22x_item_ids%22:645405815128,%22auction_score%22:0.05466225743293762,%22x_sytab%22:-1,%22x_object_id%22:645405815128%7D",
        search_photo: "",
        dialog_loading: false,
        data_users: "",
        qtyR: [
            (v) => !!v || "กรุณาระบุจำนวนสินค้า",
            (v) => /^\d+$/.test(v) || "ระบุปริมาณเป็นตัวเลขเท่านั้น",
        ],
        titleR: [(v) => !!v || "กรุณาระบุชื่อสินค้า"],
        linkR: [(v) => !!v || "กรุณาระบุ Link สินค้า"],
        priceR: [(v) => !!v || "กรุณาระบุราคาสินค้า"],
    }),
}
</script>
<style scoped>
.img-1 {
    width: 100%;
}
/* .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */
.v-text-field[data-v-172619ba] {
    width: 100%;
}
.centered {
    background: url("../../assets/find.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    padding: 16em 0em 14em;
    text-align: center;
    width: 100%;
    height: 70%;
}
.text-1 {
    font-weight: bold;
    /* font-size: 4vw; */
    font-size: 55px;
    color: #ffffff;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}
.text-2 {
    font-weight: bold;
    /* font-size: 1.5vw; */
    font-size: 16px;
    color: #ffffff;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}
.bg-1 {
    background: url("../../assets/bg1.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0em 0em 0em;
    /* width: 100% !important; */
    height: 70% !important;
}
.bg-2 {
    background: url("../../assets/bg2.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0em 0em 0em;
    /* width: 100% !important; */
}
.bg1 {
    background-color: hsla(207, 73%, 29%, 0.829);
    padding: 5em 4em 6em;
    /* width: 100%; */
    /* height: 100vh; */
}
.bg2 {
    background-color: hsla(0, 62%, 52%, 0.808);
    padding: 5em 4em 6em;
    /* width: 100%; */
    /* height: 100vh; */
}
.v-text-field {
    width: 250px;
    color: #ffffff;
}
.my-text-style {
    color: red;
}
input {
    background: #f8fafc;
    border: 0;
    width: 40%;
    /* display: block; */
    padding: 5px 15px;
    border-radius: 5px;
    margin-bottom: 0px !important;
    outline: 0;
    transition: 0.4s;
}
.input-css {
    background: #edf4fc !important;
    width: 80%;
}

.input-css:hover {
    background: #f0fffa !important;
}
</style>
