<template>
    <v-footer color="grey darken-3" dark min-height="10">
        <v-container>
            <v-row>
                <v-col cols="12" class="text-center pa-0">
                    <!-- <img
                        class="img-1 ml-1 mr-1"
                        src="../../assets/face2.png"
                        @click="get_link('face')"
                    />
                    <img
                        class="img-2 ml-1 mr-1"
                        src="../../assets/line2.png"
                        @click="get_link('line')"
                    />
                    <br /> -->
                    <span class="font-foot"
                        >Copyright © {{ years }} All rights reserved Banana The
                        Cargo</span
                    >

                    <!-- <v-icon class="icon-face mr-2">mdi-facebook</v-icon>
                    <v-icon class="icon-line">mdi-line</v-icon> -->
                    <!-- <div class="d-flex flex-wrap justify-md-start justify-center justify-md-none"> -->
                    <template>
                        <v-responsive
                            class="mx-4 shrink hidden-sm-and-down"
                            max-height="24"
                        >
                        </v-responsive>
                    </template>
                    <!-- </div> -->
                </v-col>
            </v-row>
        </v-container>
    </v-footer>
</template>

<script>
export default {
    name: "HomeFooter",
    mounted() {
        this.get_y()
    },
    methods: {
        get_link(st) {
            let url =
                st == "face"
                    ? "https://www.facebook.com/Bananathecargo"
                    : "https://lin.ee/HcrQ5kZ"
            window.open(url, "_blank")
        },
        get_y() {
            let d = new Date()
            this.years = d.getFullYear()
        },
    },
    data: () => ({
        social: ["Facebook", "Twitter", "Instagram", "Linkedin"],
        years: "",
    }),
}
</script>

<style scoped>
.font-foot {
    letter-spacing: 2px;
    color: rgb(202, 202, 202);
    font-size: 14px;
}
.img-1 {
    width: 2.3%;
    cursor: pointer;
}
.img-2 {
    width: 2.46%;
    cursor: pointer;
}
</style>
