<template>
    <div>
        <v-row>
            <v-col cols="12" class="text-center" style="padding:0px !important">
                <!-- <img class="img-1" src="../../assets/home.jpg" /> -->
                <div class="centered">
                    <!-- <div class="centeredx"> -->
                    <br />
                    <p class="text-1 fix-tl1" data-aos="fade-up">
                        Banana The Cargo
                    </p>
                    <p class="text-2 mar-t-20" data-aos="fade-up">
                        บริการสั่งซื้อ และขนส่งสินค้าจากประเทศจีน
                    </p>
                    <br />
                    <v-btn
                        data-aos="fade-up"
                        color="amber white--text"
                        @click="getPage()"
                        class="mar-t-10"
                    >
                        <span class="ml-5 mr-5">สมัครสมาชิก</span>
                    </v-btn>
                    <!-- </div> -->
                </div>

                <!-- <div class="container">
                    <img class="img-1" src="../../assets/home.jpg" />

                    <div class="centered">
                        <p class="text-1">Banana The Cargo</p>
                        <p class="text-2">
                            บริการสั่งซื้อ และขนส่งสินค้าจากประเทศจีน
                        </p>
                        <br />
                        <v-btn color="amber white--text">
                            <span class="ml-5 mr-5">สมัครสมาชิก</span>
                        </v-btn>
                    </div>
                </div> -->
            </v-col>
        </v-row>
    </div>
</template>
<script>
export default {
    methods: {
        getPage() {
            this.$emit("getPage")
        },
    },
}
</script>
<style scoped>
.co {
    color: red;
}
.img-1 {
    width: 100%;
    /* height: 100px; */
}
.centeredx {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centered {
    /* background-image: url("../../assets/home.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    min-height: 100%;
    min-width: 1024px;

    width: 100%;
    height: auto;

    position: fixed;
    top: 0;
    left: 0; */
    background: url("../../assets/home.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    padding: 16em 0em 14em;
    text-align: center;
}
.text-1 {
    /* margin-top: -260px; */
    font-weight: bold;
    font-size: 6vw;
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.text-2 {
    /* margin-top: -30px; */
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    letter-spacing: 6px;

    /* font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; */
}
.fix-tl1 {
    margin-top: 60px !important;
}
</style>
