<template>
    <div>
        <div class="centered">
            <div class="bg1">
                <v-row justify="center">
                    <v-col cols="12">
                        <!-- <p class="text-1 fix-mar" data-aos="fade-up">
                            CONTACT US
                        </p> -->
                        <p class="text-1" data-aos="fade-up">CONTACT US</p>
                        <!-- <p class="text-2" data-aos="fade-up">
                            158/3 ม.5 ต.หัวรอ อ.เมือง จ.พิษณุโลก 65000
                        </p> -->
                    </v-col>
                    <v-col cols="4">
                        <p class="text-2" data-aos="fade-up">
                            โทร. 086-103-2794 ( เฟิร์น )<br />
                            โทร. 095-326-4419 ( ปลื้ม )
                        </p>
                    </v-col>
                    <!-- <v-col cols="12 mar-t-50">
                        <p class="text-2">
                            Subscribe For Updates and Promotions
                        </p>
                    </v-col> -->
                    <v-col cols="4" justify="left">
                        <!-- <v-text-field
                            outlined
                            label="Enter your email here*"
                        ></v-text-field> -->
                        <!-- <input
                            type="text"
                            placeholder="Enter your email here*"
                            class="input-css"
                            required
                        />
                        <v-btn
                            block
                            class="mt-2"
                            color="yellow lighten-1 white--text"
                        >
                            <span>Get Updates</span>
                        </v-btn> -->

                        <img
                            data-aos="fade-up"
                            class="img-1 ml-1 mr-1"
                            src="../../assets/face2.png"
                            @click="get_link('face')"
                        />
                        <img
                            data-aos="fade-up"
                            class="img-2 ml-3 mr-1"
                            src="../../assets/line2.png"
                            @click="get_link('line')"
                        />
                    </v-col>
                </v-row>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    methods: {
        get_link(st) {
            let url =
                st == "face"
                    ? "https://www.facebook.com/Bananathecargo"
                    : "https://lin.ee/HcrQ5kZ"
            window.open(url, "_blank")
        },
    },
}
</script>
<style scoped>
.centered {
    background: url("../../assets/cpntactUs.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    /* padding: 16em 0em 14em; */
    /* padding: 16em 0em 6em; */
    text-align: center;
}
.text-1 {
    /* margin-top: -260px; */
    font-weight: bold;
    /* font-size: 4vw; */
    font-size: 30px;
    color: #fff;
    font-family: initial;
}
.text-2 {
    /* margin-top: -30px; */
    /* font-weight: bold; */
    /* font-size: 1.2vw; */
    font-size: 17px;
    color: #fff;
    letter-spacing: 2px;

    /* font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; */
}
.bg1 {
    background-color: hsla(216, 9%, 11%, 0.83);
    padding: 3em 0em 3em;
    /* width: 100%; */
    /* height: 100vh; */
}
.fix-mar {
    /* margin-top: -220px; */
}
input {
    /* background: #f8fafc; */
    border: 0;
    width: 100%;
    /* display: block; */
    padding: 5px 15px;
    border-radius: 0px;
    margin-bottom: 0px !important;
    outline: 0;
    transition: 0.4s;
}

.input-css {
    /* background: #edf4fc !important; */
    background-color: hsla(0, 0%, 100%, 0.486) !important;
}

.input-css:hover {
    /* background: #e8f800 !important; */
    background-color: hsl(59, 100%, 50%) !important;
}
.img-1 {
    width: 8%;
    cursor: pointer;
}
.img-2 {
    width: 8.2%;
    cursor: pointer;
}
</style>
