`<template>
    <div class="fix-bg-menu4">
        <v-row>
            <v-col cols="12" class="text-center mt-10">
                <p class="font-1" data-aos="fade-up">
                    Shipping Fees Calculation
                </p>
                <p class="font-2 mar-t-10" data-aos="fade-up">
                    คำนวณค่าขนส่งโดยประมาณ
                </p>
            </v-col>
        </v-row>
        <v-container>
            <v-row>
                <v-col cols="12" md="6" class="text-center">
                    <img class="img-1 " src="../../assets/menu4/car.png" />
                    <!-- <img class="img-2" src="../../assets/menu4/1.png" /> -->
                    <v-simple-table class="table-inv" border="1">
                        <template v-slot:default>
                            <thead>
                                <tr class="col-tr-1">
                                    <th colspan="43" class="text-center">
                                        <span class="f-h-1">ลูกค้าทั่วไป</span>
                                    </th>
                                </tr>
                                <tr class="col-tr-1">
                                    <th class="text-center">
                                        <span class="f-h-1">รถ</span>
                                    </th>
                                    <th class="text-center">
                                        <span class="f-h-1">กิโล</span>
                                    </th>
                                    <th class="text-center">
                                        <span class="f-h-1">คิว</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(r, i) in data_1" :Key="i">
                                    <td class="f-h-2 col-td-1">
                                        <span>{{ r.ProdName }}</span>
                                    </td>
                                    <td class="f-h-2">
                                        <span>{{ r.KG }}</span>
                                    </td>
                                    <td class="f-h-2">
                                        <span>{{ r.CBM }}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </template>
                    </v-simple-table>
                    <v-simple-table class="table-inv mt-4" border="1">
                        <template v-slot:default>
                            <thead>
                                <tr class="col-tr-2">
                                    <th colspan="43" class="text-center">
                                        <span class="f-h-1">
                                            <v-icon class="white--text mr-2">
                                                mdi-star
                                            </v-icon>
                                            ลูกค้า VIP
                                            <v-icon class="white--text ml-2">
                                                mdi-star
                                            </v-icon>
                                        </span>
                                    </th>
                                </tr>
                                <tr class="col-tr-2">
                                    <th class="text-center">
                                        <span class="f-h-1">รถ</span>
                                    </th>
                                    <th class="text-center">
                                        <span class="f-h-1">กิโล</span>
                                    </th>
                                    <th class="text-center">
                                        <span class="f-h-1">คิว</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(r, i) in data_vip_1" :Key="i">
                                    <td class="f-h-2 col-td-1">
                                        <span>{{ r.ProdName }}</span>
                                    </td>
                                    <td class="f-h-2">
                                        <span>{{ r.KG }}</span>
                                    </td>
                                    <td class="f-h-2">
                                        <span>{{ r.CBM }}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </template>
                    </v-simple-table>
                </v-col>
                <v-col cols="12" md="6" class="text-center">
                    <img class="img-1 " src="../../assets/menu4/faded.png" />
                    <!-- <img class="img-2" src="../../assets/menu4/2.png" /> -->
                    <v-simple-table class="table-inv" border="1">
                        <template v-slot:default>
                            <thead>
                                <tr class="col-tr-1">
                                    <th colspan="43" class="text-center">
                                        <span class="f-h-1">ลูกค้าทั่วไป</span>
                                    </th>
                                </tr>
                                <tr class="col-tr-1">
                                    <th class="text-center">
                                        <span class="f-h-1">เรือ</span>
                                    </th>
                                    <th class="text-center">
                                        <span class="f-h-1">กิโล</span>
                                    </th>
                                    <th class="text-center">
                                        <span class="f-h-1">คิว</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(r, i) in data_2" :Key="i">
                                    <td class="f-h-2 col-td-1">
                                        <span>{{ r.ProdName }}</span>
                                    </td>
                                    <td class="f-h-2">
                                        <span>{{ r.KG }}</span>
                                    </td>
                                    <td class="f-h-2">
                                        <span>{{ r.CBM }}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </template>
                    </v-simple-table>
                    <v-simple-table class="table-inv mt-4" border="1">
                        <template v-slot:default>
                            <thead>
                                <tr class="col-tr-2">
                                    <th colspan="43" class="text-center">
                                        <span class="f-h-1">
                                            <v-icon class="white--text mr-2">
                                                mdi-star
                                            </v-icon>
                                            ลูกค้า VIP
                                            <v-icon class="white--text ml-2">
                                                mdi-star
                                            </v-icon>
                                        </span>
                                    </th>
                                </tr>
                                <tr class="col-tr-2">
                                    <th class="text-center">
                                        <span class="f-h-1">เรือ</span>
                                    </th>
                                    <th class="text-center">
                                        <span class="f-h-1">กิโล</span>
                                    </th>
                                    <th class="text-center">
                                        <span class="f-h-1">คิว</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(r, i) in data_vip_2" :Key="i">
                                    <td class="f-h-2 col-td-1">
                                        <span>{{ r.ProdName }}</span>
                                    </td>
                                    <td class="f-h-2">
                                        <span>{{ r.KG }}</span>
                                    </td>
                                    <td class="f-h-2">
                                        <span>{{ r.CBM }}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </template>
                    </v-simple-table>
                </v-col>
                <v-col cols="12" md="6" class="text-center"> </v-col>
                <v-col cols="12" md="6" class="text-center"> </v-col>
                <v-col cols="12" class="text-center mt-4" data-aos="fade-right">
                    <span class="font-aaa">
                        ถ้าต้องการนำเข้าในปริมาณที่เยอะ น้ำหนักมากเป็นพิเศษ
                        หรือมีโค้ดส่วนลดติดต่อสอบถามค่านำเข้าได้ที่ไลน์
                        <img
                            class="img-2 ml-1"
                            src="../../assets/menu4/line.png"
                            @click="get_link()"
                        />
                        @bananathecargo (มี @ นำหน้า)
                    </span>
                </v-col>
            </v-row>
            <v-row class="mt-10 mb-5">
                <v-col cols="12" class="text-center">
                    <!--  -->
                    <v-card class="mx-auto" outlined>
                        <v-list-item three-line>
                            <v-list-item-content>
                                <div class="text-overline mt-4">
                                    <span class="font-11" data-aos="fade-up"
                                        >คำนวณค่าขนส่งเบื้องต้น</span
                                    >
                                </div>
                                <div class="text-overline mt-4">
                                    <p
                                        class="font-2 mar-t-10"
                                        data-aos="fade-up"
                                    >
                                        ( เรทราคาลูกค้าทั่วไป )
                                    </p>
                                </div>
                                <v-row class="mt-10">
                                    <v-col cols="5" md="2" class="text-center">
                                        <img
                                            class="img-11"
                                            src="../../assets/menu4/box.png"
                                        />
                                        <br />
                                        <span class="font-a1">ขนาดสินค้า</span
                                        ><br />
                                        <span class="font-a2">ชม./กก.</span>
                                    </v-col>
                                    <v-col cols="6" md="3">
                                        <v-text-field
                                            v-model="form.width"
                                            label="กว้าง"
                                            outlined
                                            dense
                                        ></v-text-field>
                                        <v-text-field
                                            v-model="form.length"
                                            label="ยาว"
                                            outlined
                                            dense
                                            class="mar-t-20"
                                        ></v-text-field>
                                        <v-text-field
                                            v-model="form.height"
                                            label="สูง"
                                            outlined
                                            dense
                                            class="mar-t-20"
                                        ></v-text-field>
                                        <v-text-field
                                            v-model="form.weight"
                                            label="น้ำหนัก"
                                            outlined
                                            dense
                                            class="mar-t-20"
                                        ></v-text-field>
                                    </v-col>
                                    <v-col cols="5" md="2" class="text-center">
                                        <img
                                            class="img-11"
                                            src="../../assets/menu4/ship.png"
                                        />
                                        <br />
                                        <span class="font-a1"
                                            >รูปแบบการขนส่ง</span
                                        ><br />
                                        <span class="font-a2">จากจีนมาไทย</span>
                                    </v-col>
                                    <v-col cols="6" md="3">
                                        <v-autocomplete
                                            v-model="form.product_type"
                                            :items="products"
                                            item-text="ProdName"
                                            item-value="ProdID"
                                            menu-props="auto"
                                            label="ประเภทสินค้า"
                                            required
                                            outlined
                                            dense
                                        ></v-autocomplete>
                                        <v-autocomplete
                                            v-model="form.transport_type"
                                            :items="transportations"
                                            item-text="TransName"
                                            item-value="TransID"
                                            menu-props="auto"
                                            label="ประเภทการขนส่ง"
                                            required
                                            outlined
                                            dense
                                            class="mar-t-20"
                                        ></v-autocomplete>
                                        <v-btn
                                            class="white--text mar-t-20"
                                            block
                                            color="orange darken-1"
                                            @click="calculate()"
                                        >
                                            คำนวนราคา
                                        </v-btn>
                                        <v-btn
                                            class="primary--text mt-1"
                                            block
                                            color=""
                                            @click="reset()"
                                            v-if="form.total != 0"
                                        >
                                            Reset
                                        </v-btn>
                                    </v-col>

                                    <v-row class="mb-5">
                                        <v-col cols="10" class="text-right">
                                            <span class="font-12"
                                                >ราคาค่าขนส่งโดยประมาณ</span
                                            >
                                            <span class="ml-5 font-13">{{
                                                form.total + " ฿"
                                            }}</span>
                                        </v-col>
                                    </v-row>
                                </v-row>
                            </v-list-item-content>
                        </v-list-item>
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
        <br /><br />
    </div>
</template>
<script>
// import axios from "axios"
// let url = `${process.env.VUE_APP_ROOT_API}/api/`
export default {
    props: [
        "products",
        "data_1",
        "data_2",
        "transportations",
        "data_vip_1",
        "data_vip_2",
        "transportations_vip",
    ],
    mounted() {
        // this.get_data()
    },
    methods: {
        // async get_data() {
        //     await axios
        //         .get(url + "main-data")
        //         .then((response) => {
        //             this.products = response.data.products
        //             this.data_1 = response.data.transportations[0].weight
        //             this.data_2 = response.data.transportations[1].weight
        //             this.transportations = response.data.transportations
        //         })
        //         .catch((error) => {
        //             console.log(error)
        //         })
        // },
        get_link() {
            window.open("https://lin.ee/HcrQ5kZ", "_blank")
        },
        calculate() {
            if (
                this.form.width != "" &&
                this.form.length != "" &&
                this.form.height != "" &&
                this.form.weight != "" &&
                this.form.product_type != "" &&
                this.form.transport_type != ""
            ) {
                this.form.cal_cbm = parseFloat(
                    this.data_1[this.form.product_type - 1].CBM
                )
                this.form.cal_kg = parseFloat(
                    this.data_1[this.form.product_type - 1].KG
                )

                this.form.calA =
                    (parseFloat(this.form.width) *
                        parseFloat(this.form.length) *
                        parseFloat(this.form.height)) /
                    1000000

                if (this.form.calA < 0.01) {
                    this.form.calA = 0.01
                }

                this.form.total_1 = this.form.cal_cbm * this.form.calA

                let weight = parseFloat(this.form.weight)
                this.form.total_2 =
                    Math.ceil(weight) * parseFloat(this.form.cal_kg)

                if (this.form.total_1 > this.form.total_2) {
                    this.form.total = this.form.total_1
                } else {
                    this.form.total = this.form.total_2
                }
            }
        },
        reset() {
            this.form = {
                width: "",
                length: "",
                height: "",
                weight: "",
                product_type: "",
                transport_type: "",
                calA: 0,
                calB: 0,
                cal_cbm: 0,
                cal_kg: 0,
                total_1: 0,
                total_2: 0,
                total: 0,
            }
        },
    },
    data: () => ({
        products: [],
        transportations: [],
        data_1: [],
        data_2: [],
        transportations_vip: [],
        data_vip_1: [],
        data_vip_2: [],
        form: {
            width: "",
            length: "",
            height: "",
            weight: "",
            product_type: "",
            transport_type: "",
            calA: 0,
            calB: 0,
            cal_cbm: 0,
            cal_kg: 0,
            total_1: 0,
            total_2: 0,
            total: 0,
        },
    }),
}
</script>
<style scoped>
.fix-bg-menu4 {
    background: #f3df80;
    /* -webkit-background-size: cover;
    background-size: cover;
    width: 100vw;
    height: 100vh; */
}
.fix-bg-menu4-2 {
    background: hsl(241, 73%, 47%);
    /* -webkit-background-size: cover;
    background-size: cover;
    width: 100vw;
    height: 100vh; */
}
.font-1 {
    font-weight: bold;
    /* font-size: 4vw; */
    font-size: 4vw;
    /* color: rgb(255, 255, 255); */
}
.font-2 {
    font-weight: bold;
    /* font-size: 1.2vw; */
    font-size: 17px;
    /* color: rgb(255, 255, 255); */
}
.img-1 {
    width: 30%;
}
.img-2 {
    width: 90%;
}
.f-h-1 {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}
.f-h-2 {
    font-size: 16px !important;
    font-weight: bold;
}
.col-tr-1 {
    background-color: rgb(191, 19, 19);
}
.col-td-1 {
    background-color: rgb(194, 194, 194);
}

.col-tr-2 {
    background-color: rgb(9, 104, 168);
}
.col-td-2 {
    background-color: rgb(194, 194, 194);
}
.font-11 {
    font-weight: bold;
    /* font-size: 2vw; */
    font-size: 28px;
    color: rgb(255, 94, 0);
}
.img-11 {
    width: 60%;
}
.mar-t-x {
    margin-top: -30px !important;
    margin-bottom: 20px;
}
.font-12 {
    font-weight: bold;
    font-size: 25px;
    color: rgb(102, 102, 102);
}
.font-13 {
    font-weight: bold;
    font-size: 25px;
    color: rgb(255, 94, 0);
}
.font-a1 {
    font-size: 20px;
    font-weight: bold;
    color: rgb(26, 24, 24);
}
.font-a2 {
    font-size: 14px;
    font-weight: bold;
    color: rgb(192, 192, 192);
}
.font-aaa {
    font-size: 17px;
    font-weight: bold;
    color: rgb(3, 69, 145);
}
.img-2 {
    width: 2%;
    cursor: pointer;
}
</style>
`
