<template>
    <div>
        <v-container>
            <v-form method="post" id="nativeForm" v-model="valid">
                <v-card class="pad-00 mb-5">
                    <v-card-title>
                        <span class="font-tt-1 ml-2 mt-2 mb-2"
                            >ตะกร้าสินค้า</span
                        >
                        <v-spacer></v-spacer>
                        <span class="mr-2 fon-b">รวม</span>
                        <span class="mr-5 font-order-01 ">{{
                            data_main.sum + " หยวน"
                        }}</span>
                        <v-btn
                            rounded
                            color="primary"
                            :disabled="!valid"
                            @click="confirm_order()"
                            >สั่งซื้อสินค้า</v-btn
                        >
                    </v-card-title>
                    <v-card-text>
                        <v-row class="no-pd">
                            <v-col cols="12">
                                <v-simple-table class="table-inv" border="1">
                                    <template v-slot:default>
                                        <thead>
                                            <tr class="col-tr-1">
                                                <th class="text-center">
                                                    ลำดับ
                                                </th>
                                                <th class="text-center">
                                                    รูป
                                                </th>
                                                <th class="text-center">
                                                    ชื่อสินค้า
                                                </th>
                                                <th class="text-center">
                                                    ราคาต่อหน่วย (หยวน)
                                                </th>
                                                <th class="text-center">
                                                    ปริมาณ
                                                </th>
                                                <th class="text-center">
                                                    ราคารวม (หยวน)
                                                </th>
                                                <th class="text-center">
                                                    หมายเหตุ
                                                </th>
                                                <th class="text-center">ลบ</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr
                                                v-for="(row,
                                                index) in data_main.data"
                                                :key="index"
                                            >
                                                <td class="text-center">
                                                    {{ index + 1 }}.
                                                </td>
                                                <td class="text-center">
                                                    <v-avatar size="90" tile>
                                                        <v-img
                                                            :src="row.img_url"
                                                        ></v-img>
                                                    </v-avatar>
                                                </td>
                                                <td>
                                                    <span class="font-b">{{
                                                        row.title
                                                    }}</span
                                                    ><br />
                                                    <span class="ml-1">{{
                                                        row.options
                                                    }}</span>
                                                </td>
                                                <td class="text-right">
                                                    <span class="font-order-02">
                                                        {{ row.price }}
                                                    </span>
                                                </td>
                                                <td>
                                                    <v-text-field
                                                        label="ปริมาณ"
                                                        v-model="row.qty"
                                                        :rules="qtyR"
                                                        @blur="
                                                            func_change(
                                                                row.cart_id,
                                                                row.qty,
                                                                row.remark
                                                            )
                                                        "
                                                    ></v-text-field>
                                                </td>
                                                <td class="text-right">
                                                    <span class="font-order-02">
                                                        {{ row.price_total }}
                                                    </span>
                                                </td>
                                                <td>
                                                    <v-text-field
                                                        label="หมายเหตุ"
                                                        v-model="row.remark"
                                                        @blur="
                                                            func_change(
                                                                row.cart_id,
                                                                row.qty,
                                                                row.remark
                                                            )
                                                        "
                                                    ></v-text-field>
                                                </td>
                                                <td class="text-center">
                                                    <v-icon
                                                        color="orange darken-4"
                                                        @click="
                                                            func_remove_item(
                                                                row.cart_id
                                                            )
                                                        "
                                                    >
                                                        mdi-close
                                                    </v-icon>
                                                </td>
                                            </tr>
                                            <br />
                                        </tbody>
                                    </template>
                                </v-simple-table>
                                <span class="font-b ml-3 blue-grey--text">
                                    *หากเป็นสินค้าโปรโมชั่น,
                                    ข้อมูลขึ้นไม่ครบถ้วน หรือ
                                    มีปัญหาในการเพิ่มออร์เดอร์ กรุณาติดต่อแอดมิน
                                </span>
                            </v-col>
                        </v-row>
                    </v-card-text>
                </v-card>
            </v-form>
        </v-container>

        <v-dialog v-model="dialog" persistent max-width="550px">
            <v-form method="post" id="nativeForm" v-model="valid2">
                <v-card>
                    <v-card-text>
                        <v-container>
                            <v-row>
                                <v-col cols="12">
                                    <img
                                        class="img-1"
                                        src="../../../assets/xx2.png"
                                    />
                                </v-col>
                                <v-col cols="12">
                                    <spanc class="d-h-2">ประเภทการขนส่ง</spanc>
                                </v-col>
                                <v-col cols="12" md="6" class="mar-t-15">
                                    <v-select
                                        :items="trans"
                                        v-model="trans_id"
                                        item-text="name"
                                        item-value="id"
                                        menu-props="auto"
                                        label="เลือกประเภทการขนส่ง"
                                        required
                                        :rules="transR"
                                        dense
                                        outlined
                                    ></v-select>
                                </v-col>
                                <v-col cols="12" class="mar-t-15">
                                    <spanc class="d-h-2"
                                        >ข้อมูลลูกค้าในการจัดส่งสินค้า</spanc
                                    >
                                </v-col>
                                <v-col cols="12" class="mar-t-15" md="6">
                                    <v-text-field
                                        v-model="data_user.name"
                                        label="ชื่อ"
                                        dense
                                        outlined
                                    ></v-text-field>
                                </v-col>
                                <v-col cols="12" class="mar-t-15" md="6">
                                    <v-text-field
                                        v-model="data_user.lastname"
                                        label="นามสกุล"
                                        dense
                                        outlined
                                    ></v-text-field>
                                </v-col>
                                <v-col cols="12" class="mar-t-15" md="6">
                                    <v-text-field
                                        v-model="data_user.tel"
                                        label="เบอร์โทรศัพท์"
                                        dense
                                        outlined
                                    ></v-text-field>
                                </v-col>
                                <v-col cols="12" class="mar-t-15" md="6">
                                    <v-text-field
                                        v-model="data_user.email"
                                        label="อีเมล์"
                                        dense
                                        outlined
                                    ></v-text-field>
                                </v-col>
                                <v-col cols="12" class="mar-t-15" sm="6" md="4">
                                    <v-text-field
                                        v-model="data_user.address"
                                        label="ที่อยู่"
                                        dense
                                        outlined
                                    ></v-text-field>
                                </v-col>
                                <v-col cols="12" class="mar-t-15" sm="6" md="4">
                                    <v-text-field
                                        v-model="data_user.district"
                                        label="เขต/อำเภอ"
                                        dense
                                        outlined
                                    ></v-text-field>
                                </v-col>
                                <v-col cols="12" class="mar-t-15" sm="6" md="4">
                                    <v-text-field
                                        v-model="data_user.subdistrict"
                                        label="แขวง/ตำบล"
                                        dense
                                        outlined
                                    ></v-text-field>
                                </v-col>
                                <v-col cols="12" class="mar-t-15" sm="6" md="4">
                                    <v-text-field
                                        v-model="data_user.province"
                                        label="จังหวัด"
                                        dense
                                        outlined
                                    ></v-text-field>
                                </v-col>
                                <v-col cols="12" class="mar-t-15" sm="6" md="4">
                                    <v-text-field
                                        v-model="data_user.zipcode"
                                        label="รหัสไปรษณีย์"
                                        dense
                                        outlined
                                    ></v-text-field>
                                </v-col>
                            </v-row>
                        </v-container>
                    </v-card-text>
                    <v-card-actions class="mar-t-30">
                        <v-btn
                            color="blue darken-1"
                            text
                            @click="dialog = false"
                        >
                            Close
                        </v-btn>
                        <v-spacer></v-spacer>
                        <v-btn
                            rounded
                            color="primary"
                            @click="save_order()"
                            :disabled="!valid2"
                        >
                            ยืนยันการสั่งซื้อ
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-form>
        </v-dialog>

        <v-dialog v-model="dialog_loading" hide-overlay persistent width="320">
            <v-card color="amber" dark>
                <v-card-text>
                    <span class="mt-1 white--text">Loading</span>
                    <v-progress-linear
                        indeterminate
                        color="white"
                        class="mb-0"
                    ></v-progress-linear>
                </v-card-text>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import axios from "axios"
let url = `${process.env.VUE_APP_ROOT_API}/api/`

export default {
    beforeMount() {
        this.tk = {
            headers: { Authorization: "Bearer " + localStorage.token },
        }
    },
    mounted() {
        if (localStorage.token) {
            this.get_data()
        }
    },
    methods: {
        async get_data() {
            this.dialog_loading = true
            await axios
                .get(url + "cart/view-all", this.tk)
                .then((response) => {
                    this.dialog_loading = false
                    this.data_main = response.data
                })
                .catch((error) => {
                    console.log(error)
                })
        },
        async func_remove_item(cart_id) {
            this.dialog_loading = true
            await axios
                .get(url + "cart/delete/" + cart_id, this.tk)
                .then((response) => {
                    this.data_main = []
                    this.data_main = response.data
                    this.dialog_loading = false
                })
                .catch((error) => {
                    console.log(error)
                })
        },
        async func_change(cart_id, qty, remark) {
            let send = {
                cart_id: cart_id,
                qty: qty,
                remark: remark,
            }
            this.dialog_loading = true
            await axios
                .post(url + "cart/update", send, this.tk)
                .then((response) => {
                    this.data_main = []
                    this.data_main = response.data
                    this.dialog_loading = false
                })
                .catch((error) => {
                    console.log(error)
                })
        },
        async confirm_order() {
            this.dialog_loading = true
            await axios
                .get(url + "auth/user", this.tk)
                .then((response) => {
                    this.data_user = response.data
                    this.dialog_loading = false
                    this.dialog = true
                })
                .catch((error) => {
                    console.log(error)
                })
        },
        async save_order() {
            this.dialog_loading = false
            let send = {
                trans_id: this.trans_id,
                data_user: this.data_user,
            }

            await axios
                .post(url + "cart/order", send, this.tk)
                .then((response) => {
                    this.data_main = []
                    this.data_main = response.data
                    this.dialog_loading = false
                    this.$emit("page_track_status")
                })
                .catch((error) => {
                    console.log(error)
                })
        },
    },
    data() {
        return {
            tk: null,
            dialog_loading: false,
            dialog: false,
            data_main: [],
            data_user: [],
            valid: false,
            valid2: false,
            trans: [
                { id: 1, name: "เรือ" },
                { id: 2, name: "รถ" },
            ],
            trans_id: "",
            qtyR: [
                (v) => !!v || "กรุณาระบุปริมาณ",
                (v) => /^\d+$/.test(v) || "ระบุปริมาณเป็นตัวเลขเท่านั้น",
            ],
            transR: [(v) => !!v || "กรุณาระบุประเภทการขนส่ง"],
        }
    },
}
</script>

<style scoped>
.img-1 {
    width: 100%;
}
.no-pd {
    margin-left: -29px !important;
    margin-right: -29px !important;
}
.font-order-01 {
    font-size: 20px;
    color: rgb(243, 93, 7);
    font-weight: bold;
}
.font-order-02 {
    font-size: 16px;
    color: rgb(243, 93, 7);
}
.d-h-2 {
    font-weight: bold;
    color: rgb(40, 63, 92);
    font-size: 18px;
}
.d-h-3 {
    font-weight: bold;
    color: rgb(67, 99, 138);
    font-size: 16px;
}
.d-h-4 {
    font-weight: bold;
    color: rgb(129, 135, 141);
    font-size: 16px;
}
</style>
