<template>
    <div>
        <v-container>
            <v-card>
                <v-card-title>
                    <span class="font-tt-1 ml-2 mt-2 mb-2">{{
                        data_main.title
                    }}</span>
                </v-card-title>

                <v-row>
                    <v-col cols="12" md="4">
                        <vueper-slides
                            ref="vueperslides1"
                            :touchable="false"
                            fade
                            :autoplay="false"
                            :bullets="false"
                            @slide="
                                $refs.vueperslides2.goToSlide(
                                    $event.currentSlide.index,
                                    { emit: false }
                                )
                            "
                            fixed-height="400px"
                        >
                            <vueper-slide
                                v-for="(slide, i) in data_img_1"
                                :key="i"
                                :image="
                                    selected.img_url == ''
                                        ? slide.url
                                        : selected.img_url
                                "
                            />
                        </vueper-slides>

                        <vueper-slides
                            class="no-shadow thumbnails cur-p mt-2"
                            ref="vueperslides2"
                            @slide="
                                $refs.vueperslides1.goToSlide(
                                    $event.currentSlide.index,
                                    { emit: false }
                                )
                            "
                            :visible-slides="data_img_1.length"
                            fixed-height="75px"
                            :bullets="false"
                            :touchable="false"
                            :gap="2.5"
                            :arrows="false"
                        >
                            <vueper-slide
                                v-for="(slide, i) in data_img_1"
                                :key="i"
                                :image="slide.url"
                                @click.native="
                                    $refs.vueperslides2.goToSlide(i), imgX()
                                "
                            >
                            </vueper-slide>
                        </vueper-slides>
                    </v-col>
                    <v-col cols="12" md="4" class="bg-01">
                        <v-row v-for="(row, index) in api_list" :key="index">
                            <v-col cols="12">
                                <span class="font-b">{{ row.name }}</span>
                            </v-col>

                            <v-col
                                :cols="row.name == 'ขนาด' ? 2 : 12"
                                :md="row.name == 'ขนาด' ? 3 : 12"
                                v-for="(row2, index2) in row.options"
                                :key="index2"
                                class="mar-t-15"
                            >
                                <div v-if="row.name == 'ขนาด'">
                                    <v-btn
                                        :color="
                                            check_selected(
                                                row.key,
                                                row2.opt_key
                                            )
                                                ? 'amber'
                                                : ''
                                        "
                                        @click="
                                            select(
                                                row.key,
                                                row2.opt_key,
                                                1,
                                                row.name,
                                                row2.opt_name
                                            )
                                        "
                                    >
                                        {{ row2.opt_name }}
                                    </v-btn>
                                </div>
                                <v-card
                                    v-else
                                    @click="
                                        select(
                                            row.key,
                                            row2.opt_key,
                                            2,
                                            row.name,
                                            row2.opt_name
                                        )
                                    "
                                    :color="
                                        check_selected(row.key, row2.opt_key)
                                            ? 'amber'
                                            : ''
                                    "
                                    :class="
                                        active_2 == row2.opt_key
                                            ? 'white--text'
                                            : ''
                                    "
                                >
                                    <div
                                        class="d-flex flex-no-wrap align-center"
                                    >
                                        <v-avatar size="30" tile>
                                            <v-img :src="row2.opt_img"></v-img>
                                        </v-avatar>
                                        <div class="ml-2">
                                            <span x-small>
                                                {{ row2.opt_name }}
                                            </span>
                                        </div>
                                    </div>
                                </v-card>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="5" md="3">
                                <span class="text-x-1">ราคาสินค้า : </span>
                            </v-col>
                            <v-col cols="7" md="9">
                                <span class="text-x-total">{{
                                    selected.price + " หยวน"
                                }}</span></v-col
                            >

                            <v-col cols="12" md="3"
                                ><span class="text-x-1">จำนวน :</span></v-col
                            >
                            <v-col cols="12" md="7">
                                <!-- <v-btn-toggle dense multiple>
                                    <v-btn
                                        small
                                        :disabled="selected.qty <= 1"
                                        @click="func_total(1)"
                                    >
                                        <v-icon>mdi-minus</v-icon>
                                    </v-btn>
                                    <v-btn small>
                                        {{ selected.qty }}
                                    </v-btn>
                                    <v-btn small @click="func_total(2)">
                                        <v-icon>
                                            mdi-plus
                                        </v-icon>
                                    </v-btn>
                                </v-btn-toggle> -->
                                <v-text-field
                                    outlined
                                    dense
                                    @change="func_total()"
                                    v-model="selected.qty"
                                >
                                </v-text-field>
                            </v-col>
                            <v-col cols="5" md="3">
                                <span class="text-x-1">ราคารวม : </span>
                            </v-col>
                            <v-col cols="7" md="9">
                                <span class="text-x-total">{{
                                    selected.price_total + " หยวน"
                                }}</span></v-col
                            >
                            <v-col cols="12" md="3"
                                ><span class="text-x-1">หมายเหตุ :</span></v-col
                            >
                            <v-col cols="12" md="9">
                                <v-textarea
                                    outlined
                                    v-model="selected.remark"
                                    label="รายละเอียดสินค้าเพิ่มเติมหรืออื่นๆ เช่น ขอตีลังไม้ เป็นต้น"
                                    background-color="#fffdf0"
                                    rows="3"
                                ></v-textarea>
                            </v-col>
                            <v-col cols="12" class="text-center">
                                <v-btn
                                    small
                                    color="orange darken-4"
                                    class="white--text mr-2"
                                    @click="func_buyNow()"
                                    >ซื้อเลย</v-btn
                                >
                                <v-btn
                                    small
                                    color="orange darken-4"
                                    class="white--text"
                                    @click="func_reserve()"
                                    >เพิ่มในรถเข็น</v-btn
                                >
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12" md="4" class="bg-02">
                        <!-- {{ selected }} -->
                        <v-col cols="12" class="col-bg-01">
                            <v-icon class="white--text mr-1">
                                mdi-cart-outline
                            </v-icon>
                            <span class="col-text-01">รถเข็น </span>
                        </v-col>

                        <v-col
                            cols="12"
                            v-if="data_reserve.length != 0"
                            class="item-reserve"
                        >
                            <div v-for="(r, i) in data_reserve" :key="i">
                                <v-card class=" mt-2">
                                    <div
                                        class="d-flex flex-no-wrap align-center"
                                    >
                                        <v-avatar size="70" tile>
                                            <v-img :src="r.img_url"></v-img>
                                        </v-avatar>
                                        <div class="ml-2">
                                            <span class="font-reserve-item">
                                                {{ r.title }}
                                            </span>
                                            <br />
                                            <span class="font-reserve-item">
                                                {{ r.options }}
                                            </span>
                                            <br v-if="r.options != ''" />
                                            <span
                                                x-small
                                                class="font-reserve-item2"
                                            >
                                                {{
                                                    r.price +
                                                        " (หยวน)  x " +
                                                        r.qty
                                                }}
                                            </span>

                                            <v-icon
                                                @click="
                                                    func_remove_item(r.cart_id)
                                                "
                                                class="ml-2 cur-p"
                                                color="orange darken-4"
                                                >mdi-close-circle-outline</v-icon
                                            >
                                        </div>
                                    </div>
                                </v-card>
                            </div>
                        </v-col>

                        <v-col
                            cols="12"
                            class="col-bg-02 mt-5"
                            v-if="data_reserve.length != 0"
                        >
                            <div>
                                <b>ราคารวม : </b>
                                <b class="red--text font-weight">{{
                                    data_reserve_sum + " หยวน"
                                }}</b>

                                <v-btn
                                    small
                                    color="orange darken-4"
                                    class="white--text mt-2"
                                    block
                                    @click="get_main_order()"
                                    :disabled="data_reserve.length == 0"
                                >
                                    ดูรถเข็น
                                </v-btn>
                            </div>
                        </v-col>
                    </v-col>
                </v-row>
                <v-row class="mb-2">
                    <v-col cols="12">
                        <v-divider class="ma-4"></v-divider>
                    </v-col>
                </v-row>
                <v-row class="ma-4">
                    <v-col
                        cols="4"
                        v-for="(rr, ii) in data_main.props"
                        :key="ii"
                        class="mar-t-10"
                    >
                        <span class="text-p-1 mr-2">{{ rr.name + " :" }}</span>
                        <span class="text-p-2 ml-1">{{ rr.value }}</span>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col cols="12">
                        <v-divider class="ma-4"></v-divider>
                    </v-col>
                    <v-col
                        cols="12"
                        class="text-center"
                        v-for="(r, i) in data_main.desc_img"
                        :key="i"
                    >
                        <img class="img-1" :src="r" />
                    </v-col>
                </v-row>
            </v-card>
        </v-container>
        <v-dialog v-model="dialog_loading" hide-overlay persistent width="320">
            <v-card color="amber" dark>
                <v-card-text>
                    <span class="mt-1 white--text">Loading</span>
                    <v-progress-linear
                        indeterminate
                        color="white"
                        class="mb-0"
                    ></v-progress-linear>
                </v-card-text>
            </v-card>
        </v-dialog>
    </div>
</template>
<script>
import axios from "axios"
import { VueperSlides, VueperSlide } from "vueperslides"
import "vueperslides/dist/vueperslides.css"
// import Spaces from '../Spaces.vue'
let url = `${process.env.VUE_APP_ROOT_API}/api/`

export default {
    components: { VueperSlides, VueperSlide },
    props: ["data_search_link"],
    beforeMount() {
        this.tk = {
            headers: { Authorization: "Bearer " + localStorage.token },
        }
    },
    mounted() {
        this.data_main = this.data_search_link.data

        // ที่แยก img ออกมาเพราะว่า แก้ error .length
        this.data_img_1 = this.data_search_link.data.item_imgs

        this.get_data(this.data_search_link)
    },
    methods: {
        get_data(datax) {
            this.selected.title = datax.data.title
            this.selected.detail_url = datax.data.detail_url
            this.api_data = datax
            let new_structure = []
            let list_item = this.api_data.data.props_list
            this.api_img = this.api_data.data.prop_imgs.prop_img
            list_item = Object.entries(list_item)

            list_item.forEach((value) => {
                let arr1 = value[0].split(":")
                let arr2 = value[1].split(":")

                let select_key = arr1[0]
                let select_name = arr2[0]
                let option_key = arr1[1]
                let option_name = arr2[1]
                let find_key = new_structure.findIndex(
                    (x) => x.key === select_key
                )
                if (find_key == -1) {
                    new_structure.push({
                        key: select_key,
                        name: select_name,
                        options: [],
                    })
                    this.selected.options.push({
                        key: select_key,
                        value: "",
                    })
                    find_key = new_structure.length - 1
                }
                let key_img = this.api_img.findIndex(
                    (x) => x.properties === select_key + ":" + option_key
                )
                let opt_img = ""
                if (key_img >= 0) {
                    opt_img = this.api_img[key_img].url
                }

                new_structure[find_key].options.push({
                    opt_key: option_key,
                    opt_name: option_name,
                    opt_img: opt_img,
                })
            })
            this.api_list = new_structure
            this.api_img = this.api_data.data.prop_imgs.prop_img
            this.api_sku = this.api_data.data.skus.sku

            if (this.selected.options.length == 0) {
                this.selected.price = this.api_data.data.price
                this.selected.img_url = this.api_data.data.pic_url
            }
            this.func_total()
            this.get_reserve()
            // console.log(this.api_list, "--api_list")
        },
        check_selected(optionKey, optionValue) {
            let status = false
            status = this.selected.options.find((value) => {
                if (value.key == optionKey && value.value == optionValue) {
                    return true
                }
            })
            return status
        },
        select(select_key, select_value, ii, k1, k2) {
            this.selected.qty = 1
            this.selected.remark = ""
            // ii == 1
            //     ? (this.active_1 = select_value)
            //     : (this.active_2 = select_value)

            // this.active = [select_value, ...this.active]

            let option_all = select_key + ":" + select_value

            let key_selected = this.selected.options.findIndex(
                (x) => x.key === select_key
            )
            this.selected.options[key_selected].value = select_value
            this.selected.options[key_selected].key_name = k1
            this.selected.options[key_selected].value_name = k2

            let key_img = this.api_img.findIndex(
                (x) => x.properties === option_all
            )
            if (key_img >= 0) {
                this.selected.img_url = this.api_img[key_img].url
            }

            //get price
            let text = ""
            this.selected.options.forEach((value) => {
                text += value.key + ":" + value.value + ";"
            })
            text = text.slice(0, -1)

            let key_price = this.api_sku.findIndex((x) => x.properties === text)
            if (key_price >= 0) {
                this.selected.price = this.api_sku[key_price].price
            }
            // console.log(this.selected)

            this.selected.price_total = this.selected.price * this.selected.qty
        },
        imgX() {
            this.selected.img_url = ""
        },
        // func_total(dd) {
        //     this.selected.qty =
        //         dd == 2 ? this.selected.qty + 1 : this.selected.qty - 1
        //     this.selected.price_total = this.selected.price * this.selected.qty
        // },
        func_total() {
            this.selected.price_total = this.selected.price * this.selected.qty
        },
        async get_reserve() {
            this.dialog_loading = true
            await axios
                .get(url + "cart/view-all", this.tk)
                .then((response) => {
                    // console.log(response.data, "-view")
                    this.dialog_loading = false
                    this.data_reserve = response.data.data
                    this.data_reserve_sum = response.data.sum
                })
                .catch((error) => {
                    console.log(error)
                })
        },
        async func_buyNow() {
            this.dialog_loading = true
            await axios
                .post(url + "cart/save", this.selected, this.tk)
                .then((response) => {
                    this.data_reserve = []
                    this.data_reserve_sum = 0
                    this.data_reserve = response.data.data
                    this.data_reserve_sum = response.data.sum
                    this.dialog_loading = false
                    this.$emit("page_main_order", this.data_reserve.length)
                })
                .catch((error) => {
                    console.log(error)
                })
        },
        async func_reserve() {
            this.dialog_loading = true
            await axios
                .post(url + "cart/save", this.selected, this.tk)
                .then((response) => {
                    this.data_reserve = []
                    this.data_reserve_sum = 0
                    this.data_reserve = response.data.data
                    this.data_reserve_sum = response.data.sum
                    this.dialog_loading = false
                })
                .catch((error) => {
                    console.log(error)
                })
        },
        async func_remove_item(cart_id) {
            this.dialog_loading = true
            await axios
                .get(url + "cart/delete/" + cart_id, this.tk)
                .then((response) => {
                    this.data_reserve = []
                    this.data_reserve_sum = 0
                    this.data_reserve = response.data.data
                    this.data_reserve_sum = response.data.sum
                    this.dialog_loading = false
                })
                .catch((error) => {
                    console.log(error)
                })
        },
        get_main_order() {
            this.$emit("page_main_order", this.data_reserve.length)
        },
    },
    data() {
        return {
            tk: null,
            api_list: "",
            api_img: "",
            data_main: [],
            data_img_1: [],
            data_list: [],
            selected: {
                title: "",
                options: [],
                price: 0,
                price_total: 0,
                qty: 1,
                img_url: "",
                remark: "",
                detail_url: "",
            },
            active: [],
            active_1: "",
            active_2: "",
            data_reserve: [],
            data_reserve_sum: [],
            dialog_loading: false,
        }
    },
}
</script>
<style scoped>
.bg-01 {
    background-color: rgb(248, 246, 221);
}
.bg-02 {
    /* background-color: rgb(248, 246, 221); */
    padding-left: 0px !important;
    padding-top: 0px !important;
}
.font-tt-1 {
    color: rgb(20, 45, 70);
    font-weight: bolder;
}
.text-p-1 {
    font-weight: bolder;
    font-size: 14px;
}
.text-p-2 {
    font-size: 14px;
}
.fix-t {
    margin-top: 50px;
}
.img-1 {
    width: 60%;
}
.thumbnails {
    margin: auto;
    max-width: 350px;
}

.thumbnails .vueperslide {
    box-sizing: border-box;
    border: 1px solid rgb(166, 182, 201);
    transition: 0.3s ease-in-out;
    opacity: 0.7;
    cursor: pointer;
}
a .thumbnails .vueperslide--active {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    opacity: 1;
    border-color: rgb(247, 210, 0);
}
.text-x-1 {
    font-size: 13px;
    color: rgb(133, 132, 132);
}
.text-x-total {
    font-size: 20px;
    color: rgb(243, 93, 7);
    font-weight: bold;
}
.col-bg-01 {
    background-color: rgb(243, 93, 7);
}
.col-bg-02 {
    /* background-color: rgb(250, 226, 89); */
}
.col-text-01 {
    font-weight: bold;
    color: #fff;
    font-size: 18px;
}
.item-reserve {
    padding: 0px;
}
.font-reserve-item {
    font-size: 14px;
    color: rgb(46, 61, 80);
    line-height: 80% !important;
}
.font-reserve-item2 {
    font-size: 12px;
    color: rgb(243, 93, 7);
    font-weight: bold;
}
</style>
