<template>
    <div>
        <v-container>
            <v-card class="pad-00 mb-5 mt-5">
                <v-card-title>
                    <v-row>
                        <v-col cols="12" md="6">
                            <span class="font-tt-1 ml-2 mt-2 mb-2">
                                ติดตามสถานะคำสั่งซื้อ
                            </span>
                        </v-col>

                        <v-spacer></v-spacer>
                        <v-col cols="12" sm="4" md="4">
                            <v-select
                                :items="status_search"
                                v-model="from_search"
                                item-text="name"
                                item-value="id"
                                menu-props="auto"
                                label="สถานะ"
                                hide-details
                                dense
                                outlined
                                @change="get_data()"
                            ></v-select>
                        </v-col>
                    </v-row>
                </v-card-title>

                <v-card-text>
                    <v-row class="">
                        <v-col cols="12">
                            <v-data-table
                                :headers="headers"
                                :items="data_main"
                                :items-per-page="10"
                            >
                                <template v-slot:[`item.order_no`]="{ item }">
                                    {{ item.order_no }}
                                </template>
                                <template
                                    v-slot:[`item.order_action`]="{ item }"
                                >
                                    <v-btn
                                        class="mx-2"
                                        fab
                                        dark
                                        x-small
                                        color="primary"
                                        title="ดูรายละเอียดคำสั่งซื้อ"
                                        @click="get_detail(item.ID)"
                                    >
                                        <v-icon dark>
                                            mdi-magnify
                                        </v-icon>
                                    </v-btn>
                                </template>
                                <template
                                    v-slot:[`item.order_status`]="{ item }"
                                >
                                    <span
                                        v-if="item.qu_status == 'Y'"
                                        class="red--text"
                                    >
                                        <b
                                            >มีใบเสนอราคาที่ค้างชำระ
                                            กรุณาโอนชำระตามช้อมูลในใบเสนอราคา
                                            <br />และ อัพโหลดหลักฐานการชำระเงิน
                                            หรือ ติดต่อแอดมิน</b
                                        >
                                    </span>
                                    <span v-else>
                                        {{ item.order_status }}
                                    </span>
                                </template>
                            </v-data-table>
                            <span class="font-b ml-1 font-1x">
                                เงื่อนไขในการรับสินค้า
                            </span>
                            <br />
                            <span class="font-b ml-3 blue-grey--text">
                                -
                                หากลูกค้าต้องการรวมออร์เดอร์ในการจัดส่งสินค้ากรุณาติดต่อแอดมิน
                            </span>
                            <br />
                            <span class="font-b ml-3 blue-grey--text">
                                - กรณีที่ลูกค้าได้รับสินค้าแล้ว
                                กรุณาถ่ายคลิปในการแกะสินค้าทุกครั้ง
                                เพื่อเป็นการันตีได้สินค้าครบ หรือ
                                สำหรับการแจ้งปัญหาใดๆกับทางบริษัท
                                หากไม่มีวีดีโอยืนยันทางบริษัทจะไม่รับผิดชอบในกรณีสินค้าได้ไม่ครบ
                            </span>
                        </v-col>
                    </v-row>
                </v-card-text>
            </v-card>
        </v-container>

        <v-dialog v-model="dialog2" persistent max-width="450px">
            <v-card>
                <v-card-title class="text-h5">
                    เพื่อเป็นการยืนยันคำสั่งซื้อกรุณาอัพโหลดหลักฐานการชำระเงิน
                </v-card-title>
                <v-card-text>
                    <v-container>
                        <v-row justify="center">
                            <v-col cols="12" md="7" class="text-center">
                                <vue-upload-multiple-image
                                    @upload-success="uploadImageSuccess"
                                    @before-remove="beforeRemove"
                                    @edit-image="editImage"
                                    :data-images="images"
                                    @data-change="dataChange"
                                    dragText="UPLOAD"
                                    browseText="หลักฐานการชำระเงิน"
                                    primaryText="ไฟล์หลักฐานการชำระเงิน"
                                    markIsPrimaryText="จัดลำดับรูปภาพ"
                                    idUpload="myIdUpload"
                                    editUpload="myIdEdit"
                                    :maxImage="50"
                                ></vue-upload-multiple-image>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-card-text>
                <v-card-actions class="mar-t-30">
                    <v-btn
                        color="blue darken-1"
                        text
                        small
                        @click="close_confirm_order()"
                    >
                        Close
                    </v-btn>
                    <v-spacer></v-spacer>
                    <v-btn
                        rounded
                        small
                        color="primary"
                        @click="save_confirm_order()"
                        :disabled="form_fileList.length == 0"
                    >
                        ยืนยันการสั่งซื้อ
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <!-- Detail -->
        <v-dialog
            v-model="dialog"
            fullscreen
            hide-overlay
            transition="dialog-bottom-transition"
        >
            <v-card tile>
                <v-toolbar flat dark color="blue darken-4">
                    <v-btn icon dark @click="dialog = false">
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                </v-toolbar>
                <v-card-text>
                    <v-container fluid class="mt-1">
                        <v-row>
                            <v-col cols="12" sm="6" md="3">
                                <span class="d-h-1 ">
                                    {{ data_detail.order_no }}
                                </span>
                            </v-col>
                            <v-col cols="12" sm="6" md="6">
                                <span class="d-h-1 ">
                                    {{ data_detail.order_status }}
                                </span>
                            </v-col>
                            <v-col cols="12" sm="6" md="3">
                                <span class="d-h-1 ">
                                    {{
                                        "อัตราแลกเปลี่ยน 1 หยวน : " +
                                            data_detail.exchange_rate
                                    }}
                                </span>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12">
                                <span class="d-h-2">ข้อมูลลูกค้า</span>
                            </v-col>
                            <v-col cols="12" sm="6" md="3">
                                <span class="d-h-3">รหัสลูกค้า : </span>
                                <span class="d-h-4">{{
                                    data_detail.cust_id
                                }}</span>
                            </v-col>
                            <v-col cols="12" sm="6" md="3">
                                <span class="d-h-3">ชื่อลูกค้า : </span>
                                <span class="d-h-4">
                                    {{
                                        data_detail.cust_firstname +
                                            " " +
                                            data_detail.cust_lastname
                                    }}
                                </span>
                            </v-col>
                            <v-col cols="12" sm="6" md="3">
                                <span class="d-h-3">ชื่อบริษัท : </span>
                                <span class="d-h-4">{{
                                    data_detail.cust_company
                                }}</span>
                            </v-col>
                            <v-col cols="12" sm="6" md="3">
                                <span class="d-h-3">เบอร์โทร : </span>
                                <span class="d-h-4">{{
                                    data_detail.cust_tel
                                }}</span>
                            </v-col>
                            <v-col cols="12" sm="6" md="3">
                                <span class="d-h-3">อีเมล์ : </span>
                                <span class="d-h-4">{{
                                    data_detail.cust_email
                                }}</span>
                            </v-col>
                            <v-col cols="12" sm="6" md="3">
                                <span class="d-h-3">ที่อยู่ : </span>
                                <span class="d-h-4">{{
                                    data_detail.cust_address
                                }}</span>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12">
                                <span class="d-h-2">ข้อมูลการสั่งซื้อ</span>
                            </v-col>
                            <v-col cols="12" sm="6" md="3">
                                <span class="d-h-3">ประเภทขนส่ง : </span>
                                <span class="d-h-4">{{
                                    data_detail.transport_name
                                }}</span>
                            </v-col>
                            <v-col cols="12" sm="6" md="3">
                                <span class="d-h-3">ประเภทสินค้า : </span>
                                <span class="d-h-4">{{
                                    data_detail.product_name
                                }}</span>
                            </v-col>
                            <v-col cols="12" sm="6" md="3">
                                <span class="d-h-3"
                                    >เลขที่คำสั่งซื้อ (ร้านค้า) :
                                </span>
                                <span class="d-h-4">{{
                                    data_detail.cn_order_no
                                }}</span>
                            </v-col>
                            <v-col cols="12" sm="6" md="3">
                                <span class="d-h-3"
                                    >วันที่สั่งซื้อ (ร้านค้า) :
                                </span>
                                <span class="d-h-4">{{
                                    data_detail.cn_order_date
                                }}</span>
                            </v-col>
                        </v-row>

                        <v-row v-if="data_detail.qu.length > 0">
                            <v-col cols="12">
                                <v-simple-table class="table-inv" border="1">
                                    <template v-slot:default>
                                        <thead>
                                            <tr class="col-tr-1">
                                                <th
                                                    class="text-center"
                                                    width="5%"
                                                >
                                                    ลำดับ
                                                </th>
                                                <th
                                                    class="text-center"
                                                    width="10%"
                                                >
                                                    วันที่เสนอราคา
                                                </th>
                                                <th
                                                    class="text-center"
                                                    width="15%"
                                                >
                                                    รายละเอียดการเสนอราคา
                                                </th>
                                                <th
                                                    class="text-center"
                                                    width="10%"
                                                >
                                                    จำนวนเงิน
                                                </th>
                                                <th
                                                    class="text-center"
                                                    width="20%"
                                                >
                                                    สถานะการเสนอราคา
                                                </th>
                                                <th
                                                    class="text-center"
                                                    width="35%"
                                                >
                                                    หมายเหตุ
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr
                                                v-for="(r, i) in data_detail.qu"
                                                :key="i"
                                            >
                                                <td class="text-center">
                                                    {{ i + 1 }}.
                                                </td>
                                                <td class="text-center">
                                                    {{ r.qu_date }}
                                                </td>
                                                <td class="text-center">
                                                    <span
                                                        v-if="r.Product == 'Y'"
                                                        class="font-b"
                                                    >
                                                        ค่าสินค้า
                                                    </span>
                                                    <span
                                                        v-if="r.Delivery"
                                                        class="font-b"
                                                    >
                                                        ค่าจัดส่งสินค้า
                                                    </span>
                                                    <br />
                                                    <v-btn
                                                        x-small
                                                        class="ml-2 white--text"
                                                        color="blue darken-3"
                                                        rounded
                                                        @click="get_pdf(r.ID)"
                                                    >
                                                        <v-icon
                                                            small
                                                            class="mr-1"
                                                            >mdi-file-document</v-icon
                                                        >
                                                        ใบเสนอราคา
                                                    </v-btn>
                                                </td>
                                                <td class="text-right">
                                                    {{ r.Total }}
                                                </td>
                                                <td class="text-center">
                                                    {{ r.qu_status_name }}
                                                </td>
                                                <td class="text-center">
                                                    <span
                                                        v-if="
                                                            r.qu_status_name ==
                                                                'รอลูกค้าตอบกลับเสนอราคา'
                                                        "
                                                    >
                                                        กรุณาโอนชำระตามช้อมูลในใบเสนอราคา
                                                        <br />และ
                                                        อัพโหลดหลักฐานการชำระเงิน
                                                        เพื่อเป็นการยืนยันคำสั่งซื้อ </span
                                                    ><br />
                                                    <v-btn
                                                        v-if="
                                                            r.qu_status_name ==
                                                                'รอลูกค้าตอบกลับเสนอราคา'
                                                        "
                                                        @click="
                                                            get_dialog2(
                                                                r.ID,
                                                                'qu'
                                                            )
                                                        "
                                                        rounded
                                                        x-small
                                                        color="red accent-2"
                                                        class="white--text"
                                                    >
                                                        อัพโหลดหลักฐานการชำระเงิน
                                                    </v-btn>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </template>
                                </v-simple-table>
                            </v-col>
                        </v-row>

                        <v-row v-if="data_detail.delivery.length > 0">
                            <v-col cols="12">
                                <span class="d-h-2">ข้อมูลการจัดส่งสินค้า</span>
                            </v-col>
                            <v-col cols="12">
                                <v-row
                                    v-for="(r, i) in data_detail.delivery"
                                    :key="i"
                                >
                                    <v-col cols="12">
                                        <v-system-bar
                                            height="30"
                                            dark
                                            color="blue darken-3"
                                            class="white--text"
                                        >
                                            <b
                                                >เลขที่จัดส่ง (ร้านค้า) :
                                                {{ r.cn_order_tracking }}</b
                                            >
                                            <v-spacer></v-spacer>
                                            <b
                                                >สถานะการจัดส่ง :
                                                {{ r.del_status_name }}</b
                                            >
                                        </v-system-bar>
                                    </v-col>

                                    <v-col cols="12" sm="6" md="3">
                                        <span class="d-h-3"
                                            >วันที่ของถึงโกดังจีน :
                                        </span>
                                        <span class="d-h-4">{{
                                            r.warehouse_date
                                        }}</span>
                                    </v-col>
                                    <v-col cols="12" sm="6" md="3">
                                        <span class="d-h-3"
                                            >วันที่ส่งออกจากโกดังจีน :
                                        </span>
                                        <span class="d-h-4">{{
                                            r.export_date
                                        }}</span>
                                    </v-col>
                                    <v-col cols="12" sm="6" md="3">
                                        <span class="d-h-3"
                                            >เลขที่บิลใบสั่งซื้อ (PO) :
                                        </span>
                                        <span class="d-h-4">{{
                                            r.po_number
                                        }}</span>
                                    </v-col>
                                    <v-col cols="12" sm="6" md="3">
                                        <span class="d-h-3">ตู้ที่ : </span>
                                        <span class="d-h-4">{{
                                            r.container_no
                                        }}</span>
                                    </v-col>
                                    <v-col cols="12" sm="6" md="3">
                                        <span class="d-h-3"
                                            >น้ำหนักพัสดุ :
                                        </span>
                                        <span class="d-h-4">{{ r.kg }}</span>
                                    </v-col>
                                    <v-col cols="12" sm="6" md="3">
                                        <span class="d-h-3">ขนาดพัสดุ : </span>
                                        <span class="d-h-4"
                                            >{{ r.width }} X {{ r.length }} X
                                            {{ r.height }} (กว้าง x ยาว x สูง)
                                        </span>
                                    </v-col>
                                    <v-col cols="12" sm="6" md="3">
                                        <span class="d-h-3"
                                            >วันที่ของถึงโกดังไทย :
                                        </span>
                                        <span class="d-h-4">{{
                                            r.import_date
                                        }}</span>
                                    </v-col>
                                    <v-col cols="12" sm="6" md="3">
                                        <span class="d-h-3"
                                            >วันที่จัดส่งหาลูกค้า :
                                        </span>
                                        <span class="d-h-4">{{
                                            r.delivery_date
                                        }}</span>
                                    </v-col>
                                    <v-col cols="12" sm="6" md="3">
                                        <span class="d-h-3"
                                            >บริษัทขนส่ง :
                                        </span>
                                        <span class="d-h-4">{{
                                            r.delivery_company
                                        }}</span>
                                    </v-col>
                                    <v-col cols="12" sm="6" md="3">
                                        <span class="d-h-3"
                                            >เลขที่พัสดุจัดส่ง :
                                        </span>
                                        <span class="d-h-4">{{
                                            r.delivery_tracking_no
                                        }}</span>
                                    </v-col>
                                </v-row>
                            </v-col>
                        </v-row>
                        <v-row v-if="data_detail.items.length > 0">
                            <v-col cols="12">
                                <v-simple-table class="table-inv" border="1">
                                    <template v-slot:default>
                                        <thead>
                                            <tr class="col-tr-1">
                                                <th
                                                    class="text-center"
                                                    width="5%"
                                                >
                                                    ลำดับ
                                                </th>
                                                <th
                                                    class="text-center"
                                                    width="10%"
                                                >
                                                    รูป
                                                </th>
                                                <th
                                                    class="text-center"
                                                    width="25%"
                                                >
                                                    ชื่อสินค้า
                                                </th>
                                                <th
                                                    class="text-center"
                                                    width="8%"
                                                >
                                                    ราคาต่อหน่วย
                                                </th>
                                                <th
                                                    class="text-center"
                                                    width="8%"
                                                >
                                                    จำนวนสินค้า
                                                </th>
                                                <th
                                                    class="text-center"
                                                    width="8%"
                                                >
                                                    ราคารวม (หยวน)
                                                </th>
                                                <th
                                                    class="text-center"
                                                    width="8%"
                                                >
                                                    ราคารวม (บาท)
                                                </th>
                                                <th
                                                    class="text-center"
                                                    width="20%"
                                                >
                                                    หมายเหตุ
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr
                                                v-for="(r,
                                                i) in data_detail.items"
                                                :key="i"
                                            >
                                                <td class="text-center">
                                                    {{ i + 1 }}.
                                                </td>
                                                <td class="text-center">
                                                    <v-avatar size="100" tile>
                                                        <v-img
                                                            :src="r.img_url"
                                                        ></v-img>
                                                    </v-avatar>
                                                </td>
                                                <td>
                                                    <span class="font-b">
                                                        {{ r.item_name }}
                                                    </span>
                                                    <br />
                                                    <span
                                                        class="blue-grey--text"
                                                    >
                                                        {{ r.item_detail }}
                                                    </span>
                                                    <br />
                                                    <v-chip
                                                        color="lime accent-2"
                                                        class="v-chip-1"
                                                        small
                                                        @click="
                                                            get_link(r.item_url)
                                                        "
                                                    >
                                                        Link สินค้า
                                                    </v-chip>
                                                </td>
                                                <td class="text-right">
                                                    <span class="font-order-02">
                                                        {{
                                                            r.price_cny +
                                                                " หยวน"
                                                        }}
                                                    </span>
                                                </td>
                                                <td class="text-center">
                                                    {{ r.qty }}
                                                </td>
                                                <td class="text-right">
                                                    <span class="font-order-02">
                                                        {{
                                                            r.total_cny +
                                                                " หยวน"
                                                        }}
                                                    </span>
                                                </td>
                                                <td class="text-right">
                                                    <span class="font-order-02">
                                                        {{
                                                            r.total_thb + " บาท"
                                                        }}
                                                    </span>
                                                </td>
                                                <td>
                                                    {{ r.remark }}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </template>
                                </v-simple-table>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-card-text>

                <div style="flex: 1 1 auto;"></div>
            </v-card>
        </v-dialog>
        <!-- End Detail -->

        <v-dialog v-model="dialog_loading" hide-overlay persistent width="320">
            <v-card color="amber" dark>
                <v-card-text>
                    <span class="mt-1 white--text">Loading</span>
                    <v-progress-linear
                        indeterminate
                        color="white"
                        class="mb-0"
                    ></v-progress-linear>
                </v-card-text>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import axios from "axios"
import VueUploadMultipleImage from "vue-upload-multiple-image"
import resizebase64 from "resize-base64"

let url = `${process.env.VUE_APP_ROOT_API}/api/`

export default {
    components: {
        VueUploadMultipleImage,
    },
    beforeMount() {
        this.tk = {
            headers: { Authorization: "Bearer " + localStorage.token },
        }
    },
    mounted() {
        if (localStorage.token) {
            this.get_data()
        }
    },
    methods: {
        async get_data() {
            this.from_search =
                this.from_search == "" || this.from_search == undefined
                    ? "pending"
                    : this.from_search

            this.dialog_loading = true
            await axios
                .get(url + "order/view/" + this.from_search, this.tk)
                .then((response) => {
                    this.dialog_loading = false
                    this.data_main = response.data
                })
                .catch((error) => {
                    console.log(error)
                })
        },
        async get_detail(id) {
            this.dialog_loading = true
            await axios
                .get(url + "order/view-order/" + id, this.tk)
                .then((response) => {
                    console.log(response.data, "-detail")
                    this.dialog = true
                    this.dialog_loading = false
                    this.data_detail = response.data
                })
                .catch((error) => {
                    console.log(error)
                })
        },
        get_pdf(id) {
            let url = `https://api.bananathecargo.com/orders-quotation/${id}`
            // let url = `https://bananacargo.akapong.dev/orders-quotation/${id}`
            window.open(url, "_blank")
        },

        async save_confirm_order() {
            let formData = new FormData()
            formData.append("order_id", this.order_id)

            if (undefined !== this.form_fileList && this.form_fileList.length) {
                for (let i = 0; i < this.form_fileList.length; i++) {
                    let img_form_fileList = resizebase64(
                        this.form_fileList[i].path,
                        1000,
                        1000
                    )
                    formData.append(`file[${i}]`, img_form_fileList)
                }
            }
            this.dialog_loading = true
            //Save Img
            await axios
                .post(url + "order/confirm-order", formData, this.tk)
                .then(() => {
                    this.dialog_loading = false
                    this.order_id = 0
                    this.form_fileList = []
                    this.dialog2 = false
                    this.$swal({
                        title: "อัพโหลดหลักฐานการชำระเงินเรียบร้อยแล้ว",
                        // text :"",
                        icon: "success",
                        // timer: 2000,
                        button: true,
                    })

                    this.get_data()
                })
                .catch(function(error) {
                    console.log(error, "-- upload img error")
                })
        },
        get_dialog2(id, type) {
            this.order_id = id
            this.upload_type = type
            this.dialog2 = true
        },
        close_confirm_order() {
            this.order_id = 0
            this.form_fileList = []
            this.dialog2 = false
        },
        uploadImageSuccess(formData, index, fileList) {
            // console.log("data", formData, index, fileList)

            this.form_fileList = fileList
        },
        beforeRemove(index, done) {
            // console.log(index, fileList)
            var r = confirm("remove image")
            if (r == true) {
                done()
            }
        },
        dataChange() {
            //
        },
        editImage(formData, index, fileList) {
            console.log("edit data", formData, index, fileList)
        },
        get_link(url) {
            window.open(url, "_blank")
        },
    },
    data() {
        return {
            upload_type: "",
            order_id: 0,
            form_fileList: [],
            dialog2: false,
            tk: null,
            dialog_loading: false,
            dialog: false,
            data_main: [],
            data_detail: { delivery: [], qu: [], items: [] },
            status_search: [
                { id: "pending", name: "คำสั่งซื้อที่ยังไม่จบทั้งหมด" },
                { id: "complete", name: "คำสั่งซื้อที่เสร็จสมบูรณ์แล้ว" },
            ],
            from_search: "",
            headers: [
                {
                    text: "วันที่สั่งซื้อ",
                    value: "order_date",
                    class: "amber black--text",
                    sortable: true,
                    // align: "center",
                },
                {
                    text: "เลขที่คำสั่งซื้อ",
                    value: "order_no",
                    class: "amber black--text",
                    sortable: false,
                    align: "center",
                },
                {
                    text: "สถานะคำสั่งซื้อ",
                    value: "order_status",
                    class: "amber black--text",
                    sortable: false,
                    align: "center",
                },
                {
                    text: "ประเภทขนส่ง",
                    value: "transport_name",
                    class: "amber black--text",
                    sortable: false,
                    align: "center",
                },
                {
                    text: "ประเภทสินค้า",
                    value: "product_name",
                    class: "amber black--text",
                    sortable: false,
                    align: "center",
                },
                // {
                //     text: "จำนวนเงิน (หยวน)",
                //     value: "total_cn",
                //     class: "amber black--text",
                //     sortable: false,
                //     align: "right",
                // },
                {
                    text: "อัตราแลกเปลี่ยน",
                    value: "exchange_rate",
                    class: "amber black--text",
                    sortable: false,
                    align: "center",
                },
                // {
                //     text: "จำนวนเงิน (บาท)",
                //     value: "total_th",
                //     class: "amber black--text",
                //     sortable: false,
                //     align: "right",
                // },
                {
                    text: "",
                    value: "order_action",
                    class: "amber black--text",
                    sortable: false,
                    align: "center",
                },
            ],
        }
    },
}
</script>

<style scoped>
.d-h-1 {
    font-weight: bold;
    color: rgb(6, 43, 87);
    font-size: 22px;
}
.d-h-2 {
    font-weight: bold;
    color: rgb(40, 63, 92);
    font-size: 18px;
}
.d-h-3 {
    font-weight: bold;
    color: rgb(67, 99, 138);
    font-size: 16px;
}
.d-h-4 {
    font-weight: bold;
    color: rgb(129, 135, 141);
    font-size: 16px;
}
.v-chip-1:hover {
    color: rgb(63, 117, 235);
    background-color: rgb(255, 196, 0) !important;
}
.font-1x {
    font-size: 16px;
    color: rgb(40, 63, 92);
}
</style>
