<template>
    <div>
        <v-app>
            <!--  height="60" -->
            <v-app-bar
                id="home-app-bar"
                app
                elevation="1"
                elevate-on-scroll
                color="grey darken-4"
            >
                <v-container>
                    <v-row>
                        <v-col cols="10" sm="5" md="4" lg="4">
                            <span class="font-h1-title">
                                Banana The Cargo.
                            </span>
                        </v-col>
                        <v-col
                            cols="12"
                            sm="5"
                            md="6"
                            lg="6"
                            v-if="isMobile == false"
                            class="text-center"
                        >
                            <div>
                                <v-tabs
                                    dark
                                    center-active
                                    background-color="transparent"
                                    show-arrows
                                    color-icon="primary"
                                >
                                    <v-tabs-slider
                                        color="yellow"
                                    ></v-tabs-slider>
                                    <v-tab
                                        v-for="(row, i) in menu"
                                        :key="i"
                                        :to="row.text"
                                        :exact="row.id === 1"
                                        :ripple="false"
                                        class="font-h1"
                                        min-width="96"
                                        text
                                        :ref="i"
                                        @click="getPage(row)"
                                    >
                                        <span> {{ row.th }}</span>
                                        <!-- <span v-if="i < 5"> {{ row.th }}</span>
                                       <div v-else class="font-h1">
                                            <div v-if="users.name">
                                                <span class="font-h11">
                                                    {{ users.name }}
                                                </span>
                                            </div>
                                            <div v-else>
                                                <span class="font-h11">
                                                    <v-icon
                                                        color="yellow darken-1"
                                                        >mdi-account-circle</v-icon
                                                    >
                                                    Login
                                                </span>
                                            </div>
                                        </div> -->
                                    </v-tab>
                                </v-tabs>
                            </div>
                        </v-col>
                        <v-col cols="2" class="mt-3" v-if="isMobile == false">
                            <div v-if="users.name">
                                <v-menu rounded offset-y>
                                    <template v-slot:activator="{ attrs, on }">
                                        <span
                                            class="font-h1-title2"
                                            v-bind="attrs"
                                            v-on="on"
                                        >
                                            <v-icon color="amber"
                                                >mdi-account-circle</v-icon
                                            >
                                            <!-- class="text-uppercase" -->
                                            <span
                                                >{{ users.name }}
                                                <small>{{
                                                    users.cst_id
                                                }}</small></span
                                            >
                                        </span>
                                    </template>

                                    <v-list>
                                        <v-list-item>
                                            <v-list-item-title
                                                class="cur-p"
                                                @click="getPage('password-new')"
                                            >
                                                <v-icon
                                                    class="fix-avatar-icon mr-1"
                                                >
                                                    mdi-account-key
                                                </v-icon>
                                                <span class="or-text mr-1">
                                                    เปลี่ยนรหัสผ่าน
                                                </span>
                                            </v-list-item-title>
                                        </v-list-item>
                                        <v-list-item>
                                            <v-list-item-title
                                                class="cur-p"
                                                @click="getPagesMainOrder()"
                                            >
                                                <v-icon
                                                    class="fix-avatar-icon mr-1"
                                                >
                                                    mdi-cart-outline
                                                </v-icon>
                                                <span class="or-text mr-1">
                                                    ตะกร้าสินค้า
                                                </span>
                                                <v-chip
                                                    v-if="data_reserve > 0"
                                                    small
                                                    color="orange darken-4 white--text cur-p"
                                                >
                                                    {{ data_reserve }} รายการ
                                                </v-chip>
                                            </v-list-item-title>
                                        </v-list-item>
                                        <v-list-item
                                            class="cur-p"
                                            @click="getPagesTrackStatus()"
                                        >
                                            <v-list-item-title>
                                                <v-icon
                                                    class="fix-avatar-icon mr-1"
                                                >
                                                    mdi-package-variant-closed
                                                </v-icon>
                                                <span class="or-text">
                                                    ติดตามสถานะคำสั่งซื้อ
                                                </span>
                                                <v-chip
                                                    v-if="data_track > 0"
                                                    small
                                                    color="orange darken-4 white--text cur-p"
                                                >
                                                    {{ data_track }} รายการ
                                                </v-chip>
                                            </v-list-item-title>
                                        </v-list-item>
                                        <v-list-item class="cur-p">
                                            <v-list-item-title
                                                @click="logout()"
                                            >
                                                <v-icon color="teal"
                                                    >mdi-logout</v-icon
                                                >
                                                <span class="teal--text"
                                                    >ออกจากระบบ</span
                                                >
                                            </v-list-item-title>
                                        </v-list-item>
                                    </v-list>
                                </v-menu>
                            </div>

                            <div v-else>
                                <span
                                    class="font-h1-title2 cur-p"
                                    @click="getPage(7)"
                                >
                                    <v-icon color="amber" class="mr-1"
                                        >mdi-login</v-icon
                                    >
                                    เข้าสู่ระบบ
                                </span>
                            </div>
                        </v-col>

                        <v-spacer></v-spacer>

                        <v-col cols="2" v-if="isMobile == true">
                            <v-app-bar-nav-icon
                                color="white"
                                class="hidden-md-and-up"
                                @click="drawer = !drawer"
                            />
                        </v-col>
                    </v-row>

                    <v-spacer />
                </v-container>
            </v-app-bar>

            <v-main v-if="show_components == 'main'">
                <!-- class="ma-10" -->
                <div ref="Home">
                    <page-home @getPage="getPage(8)" />
                </div>
                <div ref="Find">
                    <page-find
                        :users="users"
                        @page_search_link="getPagesLink"
                        @login="getPageLogin()"
                        @reload_data="reloadData"
                    />
                </div>
                <div ref="Community">
                    <page-community />
                </div>
                <div ref="Spaces" class="mt-5">
                    <page-spaces
                        :products="products"
                        :data_1="data_1"
                        :data_2="data_2"
                        :transportations="transportations"
                        :data_vip_1="data_vip_1"
                        :data_vip_2="data_vip_2"
                        :transportations_vip="transportations_vip"
                    />
                </div>
                <div ref="Contact">
                    <page-contact :articles="articles" />
                    <page-membership />
                </div>
                <!-- <div ref="Contact">
                    
                </div> -->
                <div>
                    <page-footer />
                </div>
            </v-main>
            <v-main v-else class="mt-10">
                <div class="mt-5" v-if="show_components == 'search_link'">
                    <page-search-link
                        :data_search_link="data_search_link"
                        @page_main_order="getPagesMainOrder()"
                    />
                </div>
                <div class="mt-5" v-if="show_components == 'main_order'">
                    <page-main-order
                        @page_track_status="getPagesTrackStatus()"
                    />
                </div>
                <div class="mt-5" v-if="show_components == 'track_status'">
                    <page-track-status />
                </div>
            </v-main>
        </v-app>

        <!-- Menu Mobile -->
        <v-navigation-drawer
            v-model="drawer"
            fixed
            :right="$vuetify.rtl"
            temporary
        >
            <div v-if="users.name">
                <v-list-item>
                    <v-list-item-avatar class="mr-2">
                        <v-icon color="blue accent-3" large
                            >mdi-account-circle</v-icon
                        >
                    </v-list-item-avatar>

                    <v-list-item-content>
                        <v-list-item-title>
                            <span
                                class="font-h1-title22 "
                                v-bind="attrs"
                                v-on="on"
                            >
                                {{ users.name }}
                                <small>{{ users.cst_id }}</small>
                            </span>
                        </v-list-item-title>
                    </v-list-item-content>
                </v-list-item>

                <v-list-item @click="getPage('password-new')" class="mar-t-10">
                    <v-list-item-title>
                        <v-icon class="fix-avatar-icon mr-1">
                            mdi-account-key
                        </v-icon>
                        <span class="or-text font-b">
                            เปลี่ยนรหัสผ่าน
                        </span>
                    </v-list-item-title>
                </v-list-item>

                <v-list-item @click="logout()" class="mar-t-10">
                    <v-list-item-title>
                        <v-icon class="fix-avatar-icon mr-1">
                            mdi-logout
                        </v-icon>
                        <span class="or-text font-b">
                            ออกจากระบบ
                        </span>
                    </v-list-item-title>
                </v-list-item>
            </div>

            <div v-else>
                <v-list-item @click="getPage(7)">
                    <v-list-item-title>
                        <v-icon class="fix-avatar-icon mr-1">
                            mdi-login
                        </v-icon>
                        <span class="or-text font-b">
                            เข้าสู่ระบบ
                        </span>
                    </v-list-item-title>
                </v-list-item>
            </div>

            <v-divider></v-divider>

            <v-list dense>
                <v-list-item>
                    <v-list-item-title
                        class="cur-p"
                        @click="getPagesMainOrder()"
                    >
                        <v-icon class="fix-avatar-icon mr-1">
                            mdi-cart-outline
                        </v-icon>
                        <span class="or-text mr-1 font-b">
                            ตะกร้าสินค้า
                        </span>
                        <v-chip
                            v-if="data_reserve > 0"
                            small
                            color="orange darken-4 white--text cur-p"
                        >
                            {{ data_reserve }} รายการ
                        </v-chip>
                    </v-list-item-title>
                </v-list-item>
                <v-list-item class="cur-p" @click="getPagesTrackStatus()">
                    <v-list-item-title>
                        <v-icon class="fix-avatar-icon mr-1">
                            mdi-package-variant-closed
                        </v-icon>
                        <span class="or-text font-b">
                            ติดตามสถานะคำสั่งซื้อ
                        </span>
                        <v-chip
                            v-if="data_track > 0"
                            small
                            color="orange darken-4 white--text cur-p"
                        >
                            {{ data_track }} รายการ
                        </v-chip>
                    </v-list-item-title>
                </v-list-item>
            </v-list>

            <v-divider></v-divider>

            <v-list dense>
                <v-list-item v-for="(rm, im) in menu" :key="im">
                    <v-list-item-title @click="getPage(rm)">
                        <v-icon class="mr-1" color="blue accent-3">
                            {{ rm.icon }}
                        </v-icon>
                        <span class="or-text mr-1 font-b">
                            {{ rm.th }}
                        </span>
                    </v-list-item-title>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>

        <v-row justify="center">
            <v-dialog
                style="z-index:999999;"
                v-model="dialog"
                persistent
                :max-width="active == 1 ? 700 : 500"
            >
                <v-card class="elevation-12" ref="logins">
                    <v-toolbar dark color="amber">
                        <!-- active == 0 ? "Login Form" : active == 1 ? "Forgot password" : "Register Form" -->
                        <v-toolbar-title
                            >{{
                                active == 0
                                    ? "เข้าสู่ระบบ"
                                    : active == 1
                                    ? "ลืมรหัสผ่าน"
                                    : active == 2
                                    ? "สมัครสมาชิก"
                                    : "เปลี่ยนรหัสผ่าน"
                            }}
                        </v-toolbar-title>
                    </v-toolbar>
                    <v-tabs
                        v-model="active"
                        color=""
                        slider-color="yellow"
                        style="background-color: #004679 !important;"
                    >
                        <v-tab ripple>เข้าสู่ระบบ</v-tab>
                        <v-tab-item>
                            <v-card-text class="text-center">
                                <v-form>
                                    <v-text-field
                                        v-model="form_login.username"
                                        prepend-icon="mdi-account-circle"
                                        name="login"
                                        label="ชื่อผู้ใช้งาน"
                                        type="text"
                                        @keyup.enter="login()"
                                    ></v-text-field>
                                    <v-text-field
                                        v-model="form_login.password"
                                        prepend-icon="mdi-lock"
                                        name="password"
                                        label="รหัสผ่าน"
                                        id="password"
                                        type="password"
                                        @keyup.enter="login()"
                                    ></v-text-field>
                                </v-form>
                                <span class="red--text" v-if="error_m != ''">
                                    {{ error_m }}
                                </span>
                            </v-card-text>
                            <v-card-actions>
                                <v-btn
                                    color="info"
                                    rounded
                                    text
                                    @click="close_dialog('login')"
                                    >Close</v-btn
                                >
                                <v-spacer></v-spacer>
                                <v-btn
                                    color="amber"
                                    @click="login()"
                                    class="white--text"
                                    >Login</v-btn
                                >
                            </v-card-actions>
                        </v-tab-item>

                        <v-tab ripple>สมัครสมาชิก</v-tab>
                        <v-tab-item>
                            <v-card-text>
                                <v-form
                                    method="post"
                                    id="nativeForm"
                                    v-model="valid1"
                                >
                                    <v-row>
                                        <v-col cols="12">
                                            <v-text-field
                                                @keyup="check_username()"
                                                v-model="form.username"
                                                prepend-icon="mdi-account-circle"
                                                label="ชื่อผู้ใช้งาน"
                                                type="text"
                                                :rules="[
                                                    (v) =>
                                                        !!v ||
                                                        'Username is required',
                                                ]"
                                            ></v-text-field>
                                            <v-chip
                                                :color="
                                                    data_chk_user.status == 'ok'
                                                        ? 'green accent-2'
                                                        : 'red accent-2'
                                                "
                                                small
                                                v-if="data_chk_user.length != 0"
                                                class="ml-10 font-b mar-t-20"
                                                >{{
                                                    data_chk_user.message
                                                }}</v-chip
                                            >
                                        </v-col>

                                        <v-col class="mar-t-30" cols="12">
                                            <v-text-field
                                                @keyup="check_email()"
                                                v-model="form.email"
                                                prepend-icon="mdi-email "
                                                label="Email"
                                                type="email"
                                                :rules="[
                                                    (v) =>
                                                        !!v ||
                                                        'Email is required',
                                                    (v) =>
                                                        /.+@.+/.test(v) ||
                                                        'E-mail must be valid',
                                                ]"
                                            ></v-text-field>
                                            <v-chip
                                                :color="
                                                    data_chk_email.status ==
                                                    'ok'
                                                        ? 'green accent-2'
                                                        : 'red accent-2'
                                                "
                                                small
                                                v-if="
                                                    data_chk_email.length != 0
                                                "
                                                class="ml-10 font-b mar-t-20"
                                                >{{
                                                    data_chk_email.message
                                                }}</v-chip
                                            >
                                        </v-col>
                                    </v-row>

                                    <v-row>
                                        <v-col cols="7" v-if="chk_step == 2">
                                            <div class="input_container">
                                                <ul
                                                    v-if="
                                                        valid_password == false
                                                    "
                                                >
                                                    <li
                                                        v-bind:class="{
                                                            is_valid: contains_eight_characters,
                                                        }"
                                                    >
                                                        Digit อย่างน้อย 8
                                                        ตัวขึ้นไป
                                                    </li>
                                                    <li
                                                        v-bind:class="{
                                                            is_valid: contains_number,
                                                        }"
                                                    >
                                                        ตัวเลข อย่างน้อย 1 ตัว
                                                    </li>
                                                    <li
                                                        v-bind:class="{
                                                            is_valid: contains_uppercase,
                                                        }"
                                                    >
                                                        ตัวอักษรพิมพ์ใหญ่
                                                        อย่างน้อย 1 ตัว
                                                    </li>
                                                </ul>
                                                <small class="indigo--text"
                                                    >*อ้างอิงจากประกาศนโยบายด้านความปลอดภัยของข้อมูลสารสนเทศ</small
                                                >
                                                <div
                                                    class="checkmark_container"
                                                    v-bind:class="{
                                                        show_checkmark: valid_password,
                                                    }"
                                                >
                                                    <svg
                                                        width="50%"
                                                        height="50%"
                                                        viewBox="0 0 140 100"
                                                    >
                                                        <path
                                                            class="checkmark"
                                                            v-bind:class="{
                                                                checked: valid_password,
                                                            }"
                                                            d="M10,50 l25,40 l95,-70"
                                                        />
                                                    </svg>
                                                </div>
                                            </div>
                                        </v-col>
                                        <v-col
                                            v-if="chk_step == 2"
                                            class="mar-t-30"
                                            cols="12"
                                            md="6"
                                        >
                                            <v-text-field
                                                prepend-icon="mdi-lock"
                                                label="รหัสผ่าน"
                                                :append-icon="
                                                    show1
                                                        ? 'mdi-eye'
                                                        : 'mdi-eye-off'
                                                "
                                                @click:append="show1 = !show1"
                                                :type="
                                                    show1 ? 'text' : 'password'
                                                "
                                                @input="checkPassword"
                                                v-model="form.password"
                                                autocomplete="off"
                                                placeholder="New Password"
                                                counter
                                                :rules="[
                                                    (v) =>
                                                        !!v ||
                                                        'New Password is required',
                                                ]"
                                            ></v-text-field>
                                        </v-col>
                                        <v-col
                                            v-if="chk_step == 2"
                                            class="mar-t-30"
                                            cols="12"
                                            md="6"
                                        >
                                            <v-text-field
                                                prepend-icon="mdi-lock"
                                                label="ยืนยันรหัสผ่าน"
                                                :append-icon="
                                                    show2
                                                        ? 'mdi-eye'
                                                        : 'mdi-eye-off'
                                                "
                                                @click:append="show2 = !show2"
                                                :type="
                                                    show2 ? 'text' : 'password'
                                                "
                                                v-model="form.password2"
                                                autocomplete="off"
                                                placeholder="Confirm New Password"
                                                counter
                                                :rules="[
                                                    (v) =>
                                                        !!v ||
                                                        'Confirm New Password is required',
                                                ]"
                                            ></v-text-field>
                                        </v-col>

                                        <v-col cols="12">
                                            <v-divider
                                                v-if="
                                                    form.password ==
                                                        form.password2 &&
                                                        form.password != ''
                                                "
                                                class="mt-5 mb-5"
                                            ></v-divider>
                                        </v-col>

                                        <v-col
                                            v-if="
                                                form.password ==
                                                    form.password2 &&
                                                    form.password != ''
                                            "
                                            cols="12"
                                            md="6"
                                            class="mar-t-30"
                                        >
                                            <v-text-field
                                                v-model="form.firstname"
                                                label="ชื่อ"
                                                :rules="[
                                                    (v) =>
                                                        !!v ||
                                                        'Firstname is required',
                                                ]"
                                            ></v-text-field>
                                        </v-col>

                                        <v-col
                                            v-if="
                                                form.password ==
                                                    form.password2 &&
                                                    form.password != ''
                                            "
                                            cols="12"
                                            md="6"
                                            class="mar-t-30"
                                        >
                                            <v-text-field
                                                v-model="form.lastname"
                                                label="นามสกุล"
                                                :rules="[
                                                    (v) =>
                                                        !!v ||
                                                        'Lastname is required',
                                                ]"
                                            ></v-text-field>
                                        </v-col>

                                        <v-col
                                            v-if="
                                                form.password ==
                                                    form.password2 &&
                                                    form.password != ''
                                            "
                                            cols="12"
                                            md="6"
                                            class="mar-t-30"
                                        >
                                            <v-text-field
                                                v-model="form.companyname"
                                                label="ชื่อบริษัท ( ถ้ามี )"
                                            ></v-text-field>
                                        </v-col>
                                        <v-col
                                            v-if="
                                                form.password ==
                                                    form.password2 &&
                                                    form.password != ''
                                            "
                                            class="mar-t-30"
                                            cols="12"
                                            md="6"
                                        >
                                            <v-text-field
                                                v-model="form.phone"
                                                label="เบอร์โทรศัพท์"
                                                :rules="[
                                                    (v) =>
                                                        !!v ||
                                                        'Phone is required',
                                                ]"
                                            ></v-text-field>
                                        </v-col>
                                        <v-col
                                            v-if="
                                                form.password ==
                                                    form.password2 &&
                                                    form.password != ''
                                            "
                                            class="mar-t-30"
                                            cols="12"
                                            md="4"
                                        >
                                            <v-text-field
                                                v-model="form.address"
                                                label="ที่อยู่"
                                                :rules="[
                                                    (v) =>
                                                        !!v ||
                                                        'Address is required',
                                                ]"
                                            ></v-text-field>
                                        </v-col>
                                        <v-col
                                            v-if="
                                                form.password ==
                                                    form.password2 &&
                                                    form.password != ''
                                            "
                                            class="mar-t-30"
                                            cols="12"
                                            md="4"
                                        >
                                            <v-text-field
                                                v-model="form.district"
                                                label="เขต/อำเภอ"
                                                :rules="[
                                                    (v) =>
                                                        !!v ||
                                                        'District is required',
                                                ]"
                                            ></v-text-field>
                                        </v-col>
                                        <v-col
                                            v-if="
                                                form.password ==
                                                    form.password2 &&
                                                    form.password != ''
                                            "
                                            class="mar-t-30"
                                            cols="12"
                                            md="4"
                                        >
                                            <v-text-field
                                                v-model="form.subdistrict"
                                                label="แขวง/ตำบล"
                                                :rules="[
                                                    (v) =>
                                                        !!v ||
                                                        'Subdistrict is required',
                                                ]"
                                            ></v-text-field>
                                        </v-col>
                                        <v-col
                                            v-if="
                                                form.password ==
                                                    form.password2 &&
                                                    form.password != ''
                                            "
                                            class="mar-t-30"
                                            cols="12"
                                            md="4"
                                        >
                                            <v-text-field
                                                v-model="form.province"
                                                label="จังหวัด"
                                                :rules="[
                                                    (v) =>
                                                        !!v ||
                                                        'Province is required',
                                                ]"
                                            ></v-text-field>
                                        </v-col>
                                        <v-col
                                            v-if="
                                                form.password ==
                                                    form.password2 &&
                                                    form.password != ''
                                            "
                                            class="mar-t-30"
                                            cols="12"
                                            md="4"
                                        >
                                            <v-text-field
                                                v-model="form.zipcode"
                                                label="รหัสไปรษณีย์"
                                                :rules="[
                                                    (v) =>
                                                        !!v ||
                                                        'Zibcode is required',
                                                    (v) =>
                                                        /^\d+$/.test(v) ||
                                                        'Zibcode be a number',
                                                ]"
                                            ></v-text-field>
                                        </v-col>
                                    </v-row>
                                    <v-row
                                        v-if="
                                            form.password == form.password2 &&
                                                form.password != ''
                                        "
                                    >
                                        <v-col cols="12">
                                            <v-textarea
                                                outlined
                                                label="เงื่อนไขการให้บริการ.."
                                                background-color="#FFFF"
                                                rows="7"
                                                v-model="form_conf"
                                            ></v-textarea>
                                        </v-col>
                                        <v-col cols="12" class="mar-t-40">
                                            <v-checkbox
                                                v-model="checkbox"
                                                label="ยอมรับเงื่อนไขการให้บริการ"
                                            ></v-checkbox>
                                        </v-col>
                                    </v-row>
                                </v-form>
                            </v-card-text>
                            <v-card-actions class="mar-t-20">
                                <v-btn
                                    color="info"
                                    rounded
                                    text
                                    @click="close_dialog('register')"
                                    >Close</v-btn
                                >
                                <v-spacer></v-spacer>
                                <v-btn
                                    color="amber"
                                    class="white--text"
                                    @click="register()"
                                    :disabled="
                                        !valid1 ||
                                            valid_password == false ||
                                            checkbox == false
                                    "
                                >
                                    Register</v-btn
                                >
                            </v-card-actions>
                        </v-tab-item>

                        <v-tab ripple>ลืมรหัสผ่าน</v-tab>
                        <v-tab-item>
                            <v-card-text>
                                <v-form>
                                    <v-text-field
                                        @keyup="check_email()"
                                        v-model="forgot_email"
                                        prepend-icon="mdi-email "
                                        label="Email"
                                        type="email"
                                        :rules="[
                                            (v) => !!v || 'Email is required',
                                            (v) =>
                                                /.+@.+/.test(v) ||
                                                'E-mail must be valid',
                                        ]"
                                    ></v-text-field>
                                </v-form>
                            </v-card-text>
                            <v-card-actions>
                                <v-btn
                                    color="info"
                                    rounded
                                    text
                                    @click="close_dialog('login')"
                                    >Close</v-btn
                                >
                                <v-spacer></v-spacer>
                                <v-btn color="amber" class="white--text"
                                    >Forgot password</v-btn
                                >
                            </v-card-actions>
                        </v-tab-item>

                        <v-tab ripple>เปลี่ยนรหัสผ่าน</v-tab>
                        <v-tab-item>
                            <v-card-text>
                                <v-form>
                                    <v-row>
                                        <v-col cols="7">
                                            <div class="input_container">
                                                <ul
                                                    v-if="
                                                        valid_password == false
                                                    "
                                                >
                                                    <li
                                                        v-bind:class="{
                                                            is_valid: contains_eight_characters,
                                                        }"
                                                    >
                                                        Digit อย่างน้อย 8
                                                        ตัวขึ้นไป
                                                    </li>
                                                    <li
                                                        v-bind:class="{
                                                            is_valid: contains_number,
                                                        }"
                                                    >
                                                        ตัวเลข อย่างน้อย 1 ตัว
                                                    </li>
                                                    <li
                                                        v-bind:class="{
                                                            is_valid: contains_uppercase,
                                                        }"
                                                    >
                                                        ตัวอักษรพิมพ์ใหญ่
                                                        อย่างน้อย 1 ตัว
                                                    </li>
                                                </ul>
                                                <small class="indigo--text"
                                                    >*อ้างอิงจากประกาศนโยบายด้านความปลอดภัยของข้อมูลสารสนเทศ</small
                                                >
                                                <div
                                                    class="checkmark_container"
                                                    v-bind:class="{
                                                        show_checkmark: valid_password,
                                                    }"
                                                >
                                                    <svg
                                                        width="50%"
                                                        height="50%"
                                                        viewBox="0 0 140 100"
                                                    >
                                                        <path
                                                            class="checkmark"
                                                            v-bind:class="{
                                                                checked: valid_password,
                                                            }"
                                                            d="M10,50 l25,40 l95,-70"
                                                        />
                                                    </svg>
                                                </div>
                                            </div>
                                        </v-col>
                                        <v-col
                                            class="mar-t-30"
                                            cols="12"
                                            md="6"
                                        >
                                            <v-text-field
                                                prepend-icon="mdi-lock"
                                                label="รหัสผ่านปัจจุบัน"
                                                :append-icon="
                                                    show1
                                                        ? 'mdi-eye'
                                                        : 'mdi-eye-off'
                                                "
                                                @click:append="show1 = !show1"
                                                :type="
                                                    show1 ? 'text' : 'password'
                                                "
                                                v-model="form.password"
                                                autocomplete="off"
                                                placeholder="รหัสผ่านปัจจุบัน"
                                                counter
                                                :rules="[
                                                    (v) =>
                                                        !!v ||
                                                        'ระบุรหัสผ่านปัจจุบัน',
                                                ]"
                                            ></v-text-field>
                                        </v-col>
                                        <v-col
                                            class="mar-t-30"
                                            cols="12"
                                            md="6"
                                        >
                                            <v-text-field
                                                prepend-icon="mdi-lock"
                                                label="รหัสผ่านใหม่"
                                                :append-icon="
                                                    show2
                                                        ? 'mdi-eye'
                                                        : 'mdi-eye-off'
                                                "
                                                @click:append="show2 = !show2"
                                                :type="
                                                    show2 ? 'text' : 'password'
                                                "
                                                @input="checkPassword2"
                                                v-model="form.password2"
                                                autocomplete="off"
                                                placeholder="รหัสผ่านใหม่"
                                                counter
                                                :rules="[
                                                    (v) =>
                                                        !!v ||
                                                        'ระบุรหัสผ่านใหม่',
                                                ]"
                                            ></v-text-field>
                                        </v-col>
                                    </v-row>
                                </v-form>
                            </v-card-text>
                            <v-card-actions>
                                <v-btn
                                    color="info"
                                    rounded
                                    text
                                    @click="close_dialog('password-new')"
                                    >Close</v-btn
                                >
                                <v-spacer></v-spacer>
                                <v-btn
                                    :disabled="
                                        active == 3 &&
                                            form.password == '' &&
                                            form.password2 == ''
                                    "
                                    color="amber"
                                    class="white--text"
                                    @click="save_newpassword()"
                                    >Save password</v-btn
                                >
                            </v-card-actions>
                        </v-tab-item>
                    </v-tabs>
                </v-card>
            </v-dialog>
        </v-row>
        <!-- <vue-facebook-chat
            :app-id="1166215467119403"
            :page-id="143816855814744"
        ></vue-facebook-chat> -->
        <div class="fb-customerchat" :page_id="143816855814744"></div>
    </div>
</template>

<script>
import axios from "axios"
import _ from "lodash"
import Home from "../pages/Home.vue"
import Find from "../pages/Find.vue"
import Community from "../pages/Community.vue"
import Spaces from "../pages/Spaces.vue"
import Membership from "../pages/Membership.vue"
import Contact from "../pages/Contact.vue"
import Footer from "../pages/Footer.vue"
import SearchLink from "../pages/components/SearchLink.vue"
import MainOrder from "../pages/components/MainOrder.vue"
import TrackStatus from "../pages/components/TrackStatus.vue"
// import VueFbCustomerChat from "vue-fb-customer-chat"

let url = `${process.env.VUE_APP_ROOT_API}/api/`
export default {
    components: {
        "page-home": Home,
        "page-find": Find,
        "page-community": Community,
        "page-spaces": Spaces,
        "page-membership": Membership,
        "page-contact": Contact,
        "page-footer": Footer,
        "page-search-link": SearchLink,
        "page-main-order": MainOrder,
        "page-track-status": TrackStatus,
    },
    created() {
        this.check_username = _.debounce(this.check_username, 1000)
        this.check_email = _.debounce(this.check_email, 1000)
    },
    beforeDestroy() {
        if (typeof window === "undefined") return

        window.removeEventListener("resize", this.onResize, { passive: true })
    },
    beforeMount() {
        this.chk_route()
    },
    mounted() {
        this.get_data()
        this.onResize()
        window.addEventListener("resize", this.onResize, { passive: true })
    },
    methods: {
        async get_data() {
            await axios
                .get(url + "main-data")
                .then((response) => {
                    this.products = response.data.products

                    this.data_1 = response.data.transportations[0].weight
                    this.data_2 = response.data.transportations[1].weight
                    this.transportations = response.data.transportations

                    this.data_vip_1 =
                        response.data.transportations_vip[0].weight
                    this.data_vip_2 =
                        response.data.transportations_vip[1].weight
                    this.transportations_vip = response.data.transportations_vip

                    this.articles = response.data.articles
                })
                .catch((error) => {
                    console.log(error)
                })
        },
        onResize() {
            this.isMobile = window.innerWidth < 600
        },
        chk_route() {
            if (this.$route.path == "/") {
                this.show_components = "main"
                this.$root.$router.push({
                    path: "/Home",
                    meta: {
                        title: "BANANA THE CARGO",
                    },
                })
            } else if (this.$route.path == "/Search") {
                if (this.data_search_link.length > 0) {
                    this.show_components = "find-search"
                } else {
                    this.show_components = "main"
                }
            } else if (this.$route.path == "/login/verify") {
                this.verify_register(this.$route.query)
            } else {
                this.show_components = "main"
            }

            this.get_reserve()
            this.get_track()
        },
        getPage(data) {
            console.log(data)
            // if (this.isMobile == true) {
            //     this.drawer = false
            // }
            this.show_components = "main"
            if (data.id < 7) {
                var element = this.$refs[data.text]
                var top = element.offsetTop
                window.scrollTo(0, top)
            } else {
                if (data == "password-new") {
                    this.active = 3
                    this.dialog = true
                } else if (data != 8) {
                    if (!this.users.name) {
                        this.active = 0
                        this.dialog = true
                    }
                } else {
                    this.active = 1
                    this.dialog = true
                }
            }
        },
        getPageLogin() {
            this.$swal({
                title: `กรุณา Login เข้าสู่ระบบก่อน`,
                // text: '',
                icon: "warning",
                button: false,
                timer: 15000,
            }).then(() => {
                this.getPage({
                    id: 7,
                    text: "Login",
                })
            })
        },
        async check_username() {
            if (this.form.username != "" && this.form.username != null) {
                let searchtext = {
                    username: this.form.username,
                }

                this.data_chk_user = []
                this.chk_step = 1
                await axios
                    .post(url + "auth/validate/username", searchtext)
                    .then((response) => {
                        this.data_chk_user = response.data
                        if (
                            this.data_chk_user.status == "ok" &&
                            this.data_chk_email.status == "ok"
                        ) {
                            this.chk_step = 2
                        }
                    })
                    .catch((error) => {
                        console.log(error)
                    })
            }
        },
        async check_email() {
            if (
                this.form.email != "" &&
                this.form.email != null &&
                this.valid1 == true
            ) {
                let searchtext = {
                    email: this.form.email,
                }
                this.data_chk_email = []
                this.chk_step = 1
                await axios
                    .post(url + "auth/validate/email", searchtext)
                    .then((response) => {
                        this.data_chk_email = response.data
                        if (
                            this.data_chk_user.status == "ok" &&
                            this.data_chk_email.status == "ok"
                        ) {
                            this.chk_step = 2
                        }
                    })
                    .catch((error) => {
                        console.log(error)
                    })
            }
        },
        checkPassword() {
            this.password_length = this.form.password.length

            if (this.password_length > 7) {
                this.contains_eight_characters = true
            } else {
                this.contains_eight_characters = false
            }

            this.contains_number = /\d/.test(this.form.password)
            this.contains_uppercase = /[A-Z]/.test(this.form.password)

            if (
                this.contains_eight_characters === true &&
                this.contains_uppercase === true &&
                this.contains_number === true
            ) {
                this.valid_password = true
            } else {
                this.valid_password = false
            }
        },
        checkPassword2() {
            this.password_length = this.form.password2.length

            if (this.password_length > 7) {
                this.contains_eight_characters = true
            } else {
                this.contains_eight_characters = false
            }

            this.contains_number = /\d/.test(this.form.password2)
            this.contains_uppercase = /[A-Z]/.test(this.form.password2)

            if (
                this.contains_eight_characters === true &&
                this.contains_uppercase === true &&
                this.contains_number === true
            ) {
                this.valid_password = true
            } else {
                this.valid_password = false
            }
        },
        async register() {
            await axios
                .post(url + "auth/register", this.form)
                .then((response) => {
                    let iconx =
                        response.data.status == "ok" ? "success" : "warning"
                    this.$swal({
                        title: response.data.message,
                        icon: iconx,
                        button: true,
                    })
                    this.close_dialog("register")
                })
                .catch((error) => {
                    console.log(error)
                })
        },
        async verify_register(tk) {
            await axios
                .post(url + "auth/verify", tk)
                .then((response) => {
                    let iconx =
                        response.data.status == "ok" ? "success" : "warning"
                    this.$swal({
                        title: response.data.message1,
                        text: response.data.message2,
                        icon: iconx,
                        button: true,
                    })
                })
                .catch((error) => {
                    console.log(error)
                })
        },
        async login() {
            if (this.form_login.username && this.form_login.password) {
                await axios
                    .post(url + "auth/login", this.form_login)
                    .then((response) => {
                        if (response.data.status == "ok") {
                            localStorage.setItem("token", response.data.token)
                            localStorage.setItem("name", response.data.name)
                            localStorage.setItem("cst_id", response.data.cst_id)
                            this.users.tk = {
                                headers: {
                                    Authorization:
                                        "Bearer " + localStorage.token,
                                },
                            }
                            this.users.name = localStorage.name
                            this.users.cst_id = localStorage.cst_id
                            // this.close_dialog("login")
                            // this.get_reserve()
                            // this.get_track()
                            window.location.reload()
                        } else {
                            this.error_m = response.data.message
                        }
                    })
            }
        },
        logout() {
            localStorage.removeItem("token")
            localStorage.removeItem("name")
            localStorage.removeItem("cst_id")
            this.users = {
                name: "",
                tk: {
                    headers: {
                        Authorization: "Bearer ",
                    },
                },
                cst_id: "",
            }
            this.getPage({
                id: 1,
                text: "Home",
                th: "หน้าหลัก",
            })
        },
        close_dialog(st) {
            if (st == "register") {
                this.form = {
                    username: "",
                    email: "",
                    password: "",
                    password2: "",
                    firstname: "",
                    lastname: "",
                    companyname: "",
                    address: "",
                    district: "",
                    subdistrict: "",
                    province: "",
                    zipcode: "",
                    phone: "",
                }
            } else if (st == "password-new") {
                this.form = {
                    password: "",
                    password2: "",
                }
            } else {
                this.form_login = {
                    username: "",
                    password: "",
                }
            }
            this.error_m = ""
            this.password_length = 0
            this.contains_eight_characters = false
            this.contains_number = false
            this.contains_uppercase = false
            this.valid_password = false
            this.show1 = false
            this.how2 = false
            this.data_chk_user = []
            this.data_chk_email = []
            this.forgot_email = ""
            this.chk_step = 1
            this.dialog = false
        },
        getPagesLink(result) {
            this.show_components = "search_link"
            this.data_search_link = result

            this.$root.$router.push({
                path: "/Search",
            })
        },
        getPagesMainOrder() {
            // console.log(this.data_reserve, "-data_reserve")

            this.show_components = "main_order"

            this.$root.$router.push({
                path: "/Order",
            })
        },
        getPagesTrackStatus() {
            this.show_components = "track_status"

            this.$root.$router.push({
                path: "/Track-Status",
            })
        },
        reloadData() {
            this.get_reserve()
        },
        async get_reserve() {
            await axios
                .get(url + "cart/view-all", {
                    headers: { Authorization: "Bearer " + localStorage.token },
                })
                .then((response) => {
                    this.data_reserve = response.data.data.length
                })
                .catch((error) => {
                    console.log(error)
                    this.logout()
                    // this.getPageLogin()
                })
        },
        async get_track() {
            await axios
                .get(url + "order/view/pending", {
                    headers: { Authorization: "Bearer " + localStorage.token },
                })
                .then((response) => {
                    this.data_track = response.data.length
                })
                .catch((error) => {
                    console.log(error)
                })
        },
        async save_newpassword() {
            let send = {
                old_password: this.form.password,
                new_password: this.form.password2,
            }
            await axios
                .post(url + "auth/change-password", send, {
                    headers: { Authorization: "Bearer " + localStorage.token },
                })
                .then((response) => {
                    if (response.data.status == "ok") {
                        this.$swal({
                            title: response.data.message,
                            // text: response.data.message,
                            icon: "success",
                            button: true,
                        })
                        this.close_dialog("password-new")
                    } else {
                        this.$swal({
                            title: `แจ้งเตือน`,
                            text: response.data.message,
                            icon: "warning",
                            button: true,
                        })
                    }
                })
                .catch((error) => {
                    console.log(error)
                })
        },
    },
    data: () => ({
        products: "",
        data_1: "",
        data_2: "",
        transportations: "",
        data_vip_1: "",
        data_vip_2: "",
        transportations_vip: "",
        articles: "",
        show_components: "main",
        data_search_link: [],
        error_m: "",
        active: null,
        text:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
        dialog: false,
        isMobile: false,
        drawer: null,
        menu: [
            { id: 1, text: "Home", icon: "mdi-home-circle", th: "หน้าหลัก" },
            { id: 2, text: "Find", icon: "mdi-file-find", th: "ค้นหาสินค้า" },
            {
                id: 3,
                text: "Community",
                icon: "mdi-cart-outline",
                th: "วิธีการสั่งสินค้า",
            },
            { id: 4, text: "Spaces", icon: "mdi-bus", th: "ค่าขนส่ง" },
            {
                id: 5,
                text: "Contact",
                icon: "mdi-bullhorn-variant-outline",
                th: "แนะนำ",
            },
            // { id: 6, text: "Contact", th: "คิว" },
            // { id: 7, text: "Login", th: "ล๊อกอิน" },
        ],
        data_chk_user: [],
        data_chk_email: [],
        chk_step: 1,
        password_length: 0,
        contains_eight_characters: false,
        contains_number: false,
        contains_uppercase: false,
        valid_password: false,
        show1: false,
        show2: false,
        form_login: {
            username: "",
            password: "",
        },
        form: {
            username: "",
            email: "",
            password: "",
            password2: "",
            firstname: "",
            lastname: "",
            companyname: "",
            address: "",
            district: "",
            subdistrict: "",
            province: "",
            zipcode: "",
            phone: "",
        },
        forgot_email: "",
        valid1: false,
        users: {
            cst_id: localStorage.cst_id,
            name: localStorage.name,
            tk: {
                headers: {
                    Authorization: "Bearer " + localStorage.token,
                },
            },
        },
        data_reserve: 0,
        data_track: 0,
        checkbox: false,
        form_conf: `โปรดอ่านและกดยอมรับเพื่อทำความเข้าใจดำเนินการใช้บริการ

ข้าพเจ้าในนาม Banana The Cargo “นายหน้า” ซึ่งต่อไปในสัญญานี้เรียกว่า “Banana The Cargo”
1. ขอต้อนรับเข้าสู่แพลตฟอร์ม (เว็บไซต์) Banana The Cargo (ประเทศไทย) โปรดอ่านเงื่อนไขการให้บริการต่อไปนี้อย่างละเอียด ก่อนการใช้งาน หรือสมัครสมาชิก เพื่อสิทธิประโยชน์และข้อผูกพันตามกฎหมาย ของคุณอันเกี่ยวเนื่องกับ เว็บไซต์ Banana The cargo
2. Banana The Cargo เป็นเพียงผู้อำนวยความสะดวกในการสั่งซื้อ สินค้าจากประเทศจีน Banana The Cargo ไม่ได้เป็นผู้ขายสินค้า ดังนั้นการสั่งซื้อสินค้าจากประเทศจีนที่เกิดขึ้นผ่านแพลตฟอร์ม เป็นการสั่งซื้อสินค้าระหว่าง ลูกค้า กับ ร้านค้า/โรงงาน โดยตรง โดย Banana The Cargo เป็นผู้ดำเนินการติดต่อสั่งซื้อสินค้า ผู้ซื้อจะต้องชำระเงินค่าสินค้าให้กับ Banana The Cargo ไปดำเนินสั่งซื้อสินค้าจนเสร็จ Banana The Cargoไม่ได้มีส่วนเกี่ยวข้องกับการขายสินค้าดังกล่าว ดังนั้น Banana The Cargo จึงไม่รับผิดชอบต่อความเสียหายที่เกิดขึ้น จาก ร้านค้า/โรงงานประเทศจีน เช่น สินค้าผิดสี ผิดรูปแบบ ได้รับสินค้าไม่ครบ การเสียหายจากการขนส่งจาก ร้านค้า/โรงงาน ประเทศจีน และอื่นๆ ตามกรณี เป็นต้น ถ้าเกิดเหตุการณ์ข้างต้น ทาง Banana The Cargo ยินดีที่จะช่วยประสานงานอย่างสุดความสามารถกับ ร้านค้า/โรงงาน ประเทศจีน เพื่อที่จะสอบถามขอบเขตความรับผิดชอบจาก ร้านค้า/โรงงานประเทศจีน ตามกรณีๆ ไป
3. การคิดอัตราค่าบริการ Banana The Cargo มีการแจ้งอัตราค่าบริการบน แพลตฟอร์ม (เว็บไซต์) อย่างชัดเจน ลูกค้าสามารถดูราคาอัตราค่าบริการ ได้จากทาง แพลตฟอร์ม (เว็บไซต์) ของเรา
4. Banana The Cargo ไม่มีนโยบายสนับสนุน การละเมิดลิขสิทธิ์ และ นำเข้าสินค้าผิดกฎหมาย ทุกชนิด หากเกิดปัญหาข้างต้น ทางBanana The Cargo จะไม่รับผิดชอบต่อความเสียหายที่เกิดขึ้น ทุกกรณี
5. ระยะเวลาการขนส่งสินค้าทางรถ 5-7 วัน ทางเรือ 12-15 วัน เป็นระยะเวลาการขนส่งหลังจาก ที่โกดังจีนปิดตู้สินค้าเรียบร้อยแล้ว ระยะเวลาดังกล่าว ข้างต้นนั้น อาจจะเร็วหรือช้า กว่ากำหนด ทาง Banana The Cargo ไม่รับผิดชอบต่อความล่าช้าที่เกิดจากเหตุสุดวิสัย อาทิเช่น ภัยธรรมชาติ, สภาพอากาศ, วันหยุดยาว, สงคราม, ความล่าช้าจากด่านตรวจศุลกากร แต่ทาง Banana The Cargo จะดำเนินการติดตามสินค้าและจัดส่งสินค้าให้กับลูกค้าโดยเร็วที่สุด สินค้าที่ไม่ระบุรูปแบบการจัดส่ง รถหรือเรือ ทาง Banana The Cargo ขออนุญาตดำเนินการเลือกการจัดส่งที่ดีที่สุดให้ลูกค้า เพื่อความสะดวก รวดเร็ว ในการจัดส่ง ราคาค่าขนส่งยังไม่รวมค่าขนส่งภายในประเทศไทย
12. รูปภาพสินค้าบน แพลตฟอร์ม (เว็บไซต์) อาจแตกต่างจากสินค้าจริง เนื่องจากมีการตกแต่งรูปภาพเพื่อความสวยงาม
13. กรณีมีการเปลี่ยนแปลงรูปแบบอื่นใด หลังจากที่ลูกค้าเลือก รูปแบบการขนส่งและสินค้าแล้ว ทาง Banana The Cargo ขออนุญาตไม่รับผิดชอบต่อความเสียหายที่เกิดขึ้นทุกกรณี
15. Banana The Cargo ขอสงวนสิทธิ์ในการเปลี่ยนแปลงข้อตกลงเงื่อนไขบริการ โดยไม่ต้องแจ้งให้ทราบล่วงหน้า
16. ลูกค้าที่ดำเนินการผ่าน แพลตฟอร์ม (เว็บไซต์) Banana The Cargo จะถือว่าลูกค้ายินยอมและยอมรับข้อตกลงต่างๆ ที่กล่าวข้างต้น ทุกประการ
17. ข้อตกลงและเงื่อนไข(“ข้อตกลงและเงื่อนไข”) ในเอกสารนี้ (“สัญญา”) ได้ระบุและกำหนดเงื่อนไขซึ่งจะใช้บังคับกับนิติสัมพันธ์ระหว่าง “Banana The Cargo” และท่าน ซึ่งเป็นผู้ใช้งานบริการนี้ (“ลูกค้า”)
18. ลูกค้าควรอ่านข้อตกลงและเงื่อนไขของสัญญานี้ด้วยความระมัดระวัง และไม่ควรยอมรับข้อตกลงและเงื่อนไข หรือลงทะเบียน เข้าใช้บริการ (เรียกโดยรวมว่า “ข้อตกลงและเงื่อนไข”) เว้นแต่ท่านได้ตกลงตามข้อตกลงและเงื่อนไขแล้ว Banana The Cargoไม่ได้เก็บสำเนาข้อตกลงกับผู้ใช้แต่ละคนไว้ในระบบ จึงขอแนะนำให้ท่านเก็บสำเนาข้อตกลงที่ท่านทำไว้กับบริษัทฯ เพื่อเป็นเอกสารอ้างอิงของท่านเอง
19. ทางBanana The Cargoเป็นเพียงคนกลางในการประสานงานสั่งซื้อสินค้าให้กับลูกค้าเท่านั้น กรณีเกิดปัญหาทางBanana The Cargoไม่สามารถรับเปลี่ยน ชดใช้ หรือซื้อคืนสินค้าในกรณีทีร้านค้าจีนส่งมาผิดแบบ ผิดสี ผิดไซส์ ผิดจำนวน หรือมีตำหนิ แต่ทางBanana The Cargoยินดีช่วยประสานกับร้านค้าเพื่อทวงสิทธิ์และผลประโยชน์ของลูกค้าให้อย่างเต็มที่และสุดความสามารถ แต่หากเป็นกรณีที่เป็นความผิดของทางBanana The Cargoเอง เช่น เจ้าหน้าที่ของเรา สั่งสินค้าโดยผิดไปจากที่ลูกค้าระบุมา ทางBanana The Cargoยินดีรับผิดชอบให้ 100% ของมูลค่าสินค้า
20. Banana The Cargoไม่รับผิดชอบต่อความล่าช้าในการจัดส่ง ที่เกิดจากเหตุสุดวิสัย, ภัยธรรมชาติ, สภาพอากาศ, วันหยุดยาว, สงคราม, ความล่าช้าจากด่านตรวจ แต่จะทำการติดตามและจัดส่งสินค้าให้กับลูกค้าโดยเร็วที่สุด
23. การส่งสินค้าจากร้านค้าจีนมาที่โกดังจีนของเราจะเร็วหรือช้า ขึ้นอยู่กับความพร้อมของร้านค้า หรือสต๊อคสินค้านั้น ๆ และระยะห่างระหว่างร้านค้ากับโกดังรับสินค้าของเรา ซึ่งในส่วนนี้อยู่นอกเหนือความควบคุมของทางBanana The Cargo โดยปกติประมาณ 3-5 วันหลังจากสินค้าพร้อมส่ง และหากช้ากว่านั้นทางBanana The Cargo จะช่วยเร่งและติดตามให้ร้านค้าจัดส่งมาโดยเร็วที่สุด
24. รูปภาพสินค้าของร้านค้าอาจแตกต่างจากสินค้าจริงที่ได้รับ เนื่องจากมีการแต่งภาพเพื่อให้สวยงาม อาจได้รับสินค้าที่ไม่ตรงหรือผิดเพี้ยนไปบ้าง ในกรณีนี้ทางBanana The Cargo ไม่มีความผิดชอบแทนร้านค้า
25. บรรจุภัณฑ์สินค้าที่เป็นกล่องอาจมีสภาพบุบบ้างอันเนื่องมาจากการขนส่ง ซึ่งในส่วนนี้อยู่นอกเหนือความควบคุมของทางBanana The Cargo ทางเราไม่สามารถรับผิดชอบใดๆได้
26. หากสินค้าหมดสต๊อกหรือร้านค้าขอยกเลิก ทางBanana The Cargo จะโอนยอดคืนทาง บัญชีธนาคาร ให้กับลูกค้าเท่านั้น ภายใน 10 วัน หลังจากร้านค้าแจ้ง
27. หากส่งใบสั่งซื้อสินค้ามาให้กับทางBanana The Cargo แล้วถือว่าลูกค้ายินยอมและยอมรับในข้อตกลงข้างต้นทั้งหมด และไม่สามารถยกเลิกรายการสั่งซื้อได้ในทุกกรณี
29. Banana The Cargoขอสงวนสิทธิ์ในการเปลี่ยนแปลงข้อตกลงและเงื่อนไขโดยไม่ต้องแจ้งให้ทราบล่วงหน้า
30. อัตราแลกหยวนเปลี่ยนแปลงทุกวันอาจทำให้ราคาเปลี่ยนแปลง กรุณาตรวจสอบทุกขั้นตอนก่อนยืนยัน หากกดยืนยันแล้วแอดมินจะทำการสั่งของตามเรทเงินที่ลูกค้ายืนยันนั้นๆ
31. การคืนเงิน สามารถขอคืนเงินได้ในกรณีร้านค้าจากประเทศจีนยอมคืนเงินในจำนวนเงินที่ร้านค้าจีนยอมคืนเท่านั้น หากอัตราแลกเปลี่ยนในวันที่ขอคืนมีการเปลี่ยนแปลงจะคิดตามอัตราเดิมหรือน้อยกว่าอัตราเดิมเท่านั้น

เงื่อนไขในการจัดส่ง
1. ให้ร้านค้าระบุรหัสลูกค้าในเอกสารการส่งของและบนหีบห่อของสินค้าชัดเจน พร้อมระบุประเภทการจัดส่งให้ชัดเจน EK ที่หน้ากล่องหากต้องการส่งทางรถ หรือ SEA ที่หน้ากล่องหากต้องการส่งทางเรือ
2. หากในเอกสารการส่งของและบนหีบห่อของสินค้าไม่ระบุช่องทางการจัดส่ง ทางขนส่งจะถือว่าจัดส่งผ่านช่องทาง EK หรือ ขนส่งทางรถทันที หากลูกค้าหรือทางร้านจีนไม่ระบุรหัสลูกค้า ทำให้สินค้าที่เข้ามาโกดังปะปน ชำรุด หรือสูญหายทางโกดังจะไม่รับผิดชอบทุกกรณี
3. เมื่อสินค้าถึงไทยแล้วไม่สามารถเปลี่ยนแปลงประเภทการจัดส่งได้ทุกกรณี หากต้องการแก้ไขการจัดส่ง ทางผู้ขนส่งขอสงวนสิทธิ์อนุญาตให้แก้ไขเมื่อแจ้งสินค้าเข้าโกดังจีนก่อนปิดตู้เดินทางเข้าไทยเท่านั้น
4. ระยะเวลาการจัดส่งเป็นระยะเวลาโดยเฉลี่ย อาจเร็วหรือช้ากว่าที่แจ้ง ซึ่งทางผู้ขนส่งไม่มีการรับประกันถึงความเสียหายต่อความล่าช้าของสินค้า
5. สินค้าที่ถึงไทยแล้วจะเข้าสู่กระบวนการจัดส่งภายในประเทศ ก็ต่อเมื่อทางผู้ขนส่งได้รับหลักฐานการชำระเงินค่าจัดส่งสินค้า หรือค่าใช้จ่ายอื่น ในรอบนั้นเรียบร้อยแล้ว โดยจะใช้ระยะเวลาประมาณ 1-3 วันขึ้นอยู่กับสถานที่จัดส่ง ขึ้นอยู่กับขนส่งเอกชนภายในประเทศนั้นๆ หลังจัดส่งให้แล้วทางโกดังถือว่าสิ้นสุดงาน ไม่มีส่วนรับผิดชอบในขนส่งภายในประเทศ
6. ผู้ขนส่งมีสิทธิที่จะยึดหน่วงสินค้าที่ขนส่งไว้จนกว่าจะได้รับชำระค่าบริการ และคำใช้จ่ายอื่น ๆ จนครบถ้วนหากสินค้าได้รับความเสียหายจากความล่าช้า ผู้ขนส่งจะไม่รับผิดชอบ
7. ผู้ขนส่งไม่รับขนส่งสินค้าที่ผิดกฎหมายทุกชนิด หากสินค้าส่งเข้ามาแล้วถูกอายัด ทางผู้ขนส่งจะไม่รับผิดชอบในทุกกรณี หรือหากมีความเสียหายเกิดขึ้น ทางลูกค้าจะต้องรับผิดทั้งทางแพ่งและอาญา แต่เพียงฝ่ายเดียว
8. ในบางกรณีผู้ขนส่งอาจจำเป็นต้องใช้สิทธิในการตรวจสอบบรรจุภัณฑ์ของผู้ส่งไม่ว่าจะก่อนหรือหลังจากผู้ส่งได้ทำการส่ง โดยถือว่าลูกค้ายินยอมด้วยในการดังกล่าว
9. ผู้ขนส่งสงวนสิทธิ์ในการปฏิเสธการขนส่งหากพบว่า ของที่จะขนส่งนั้นอาจเป็นสาเหตุให้ของอื่น หรืออุปกรณ์ใด ๆ เกิดความเสียหาย หรือเป็นอันตรายต่อบุคคล หรือทรัพย์ของผู้อื่น หรืออาจเป็นอันตรายแก่ผู้ขนส่ง หรือทำให้เกิดความล่าช้าในการขนส่ง หรือเป็นของต้องห้าม หรือผิดกฎหมาย หรือเป็นการฝ้าฝืนต่อข้อกำหนด และเงื่อนไขในการขนส่งโดยประการอื่น
10. ผู้ขนส่งสงวนสิทธิ์ในการจัดส่ง 1 รหัสลงทะเบียนนำเข้าจัดส่ง 1 สถานที่ตามระบบที่ลงทะเบียนไว้เท่านั้น หากผู้ส่งต้องการจัดส่งมากกว่า 1 สถานที่ ผู้ส่งจะต้องแจ้งรายละเอียดให้ทราบทันทีเมื่อสินค้าเข้าคลังรับพัสดุต้นทาง (ประเทศจีน) และ ทางผู้ส่งจะต้องออกค่าใช้จ่ายคำจัดส่งเองโดยไม่เกี่ยวข้องกับผู้ขนส่ง
11. รหัสบนเอกสารการส่งของและ/หรือบนหีบห่อของสินค้าระบุเป็นรหัสใด ทางผู้ให้บริการจะนำส่งให้แก่รหัสนั้น หากพัสดุจัดส่งผิดหลังจากการตรวจสอบอันเนื่องจากรหัสบนเอกสารการส่งของและ/หรือบนหีบห่อของสินค้า ทางผู้ให้บริการขอสงวนสิทธิไม่รับผิดชอบทุกกรณี

เงื่อนไขกรณีสินค้าสูญหายหรือเสียหาย
1. หากมีสินค้าเสียหายหรือสูญหายจากการจัดส่งสินค้าที่เกิดขึ้นจากความผิดของทางผู้ขนส่ง ผู้ขนส่งจะรับผิดชอบความเสียหายตามราคาซื้อจริงของสินค้า แต่ทั้งหมดต้องไม่เกินกว่า1.5เท่าของค่าขนส่งจากจีนมาไทยของสินค้าที่เสียหายหรือสูญหาย เช่น ใบส่งของ 1 ใบระบุการส่งสินค้า 10 ลัง ค่าขนส่งรวมเป็นจำนวนเงิน 5,000 บาท (ค่าขนส่งเฉลี่ยกล่องละ 500 บาท) ถ้าสินค้าหายไป 1 ลัง ทางผู้ขนส่งจะรับผิดชอบเป็นจำนวนเงินทั้งหมดไม่เกิน750 บาท แต่หากมูลค่าสินค้าของที่ สูญหายไม่ถึง 750 บาท ทางผู้ขนส่งก็จะรับผิดชอบตามตามราคาซื้อจริงของสินค้า
2. การแจ้งความเสียหาย หรือสูญหาย จะต้องแจ้งเป็นลายลักษณ์อักษรแก่ผู้ขนส่ง โดยแสดงข้อความรายละเอียดบนใบส่งของ ณ จุดที่ทำการส่งมอบสินค้า และต้องแจ้งให้กับทางผู้ขนส่งทราบภายในวันที่ได้รับสินค้าเท่านั้น (ทั้งนี้ต้องพร้อมส่งภาพถ่าย หีบห่อของสินค้ากรณีอยู่ในสภาพไม่สมบูรณ์ หรือภาพถ่ายของสินค้ากรณีเสียหาย หลักฐานการซื้อสินค้าหรือใบส่งของจากร้านค้าและหลักฐานแสดงราคาซื้อสินค้าแก่ผู้ขนส่ง)
3. ทางลูกค้าไม่สามารถชำระเงินโดยหักค่าเสียหายออกจากค่าขนส่งในบิลส่งของได้ เว้นแต่ได้รับการยืนยันค่าเสียหายจากทางผู้ขนส่งก่อน
4. ผู้ขนส่งจะไม่รับผิดชอบต่อการสูญหายหรือเสียหาย หรือค่าใช้จ่ายที่เกิดขึ้น ในกรณีดังต่อไปนี้
4.1 พบว่า สินค้าเป็นของต้องห้าม หรือผิดกฎหมาย
4.2 มีสาเหตุจากหีบห่อที่ใช้บรรจุไม่แข็งแรงมั่นคงเพียงพอ หรือไม่เหมาะสมกับสินค้าและการขนส่ง ซึ่งบรรจุโดยผู้ส่งต้นทาง
4.3 สินค้าที่จัดส่งเป็นสินค้าดังต่อไปนี้ เอกสารที่มีมูลค่า สิ่งของแตกหักเสียหายง่าย เครื่องแก้ว กระจก เครื่องเพชร เครื่องประดับ (ทอง เงิน พลอย) สิ่งของผิดกฎหมาย วัตถุอันตราย งานศิลปะ สินค้าวัตถุโบราณ สิ่งมีชีวิต ของสด ประเภทอาหารและเครื่องดื่มทุกชนิด สินค้าที่เสื่อมสภาพได้โดยตัวสินค้าเอง สินค้ามีเครื่องหมายการค้า(ลิขสิทธิ์)
`,
    }),
}
</script>

<style scoped>
html {
    scroll-behavior: smooth !important;
}

.primary--text {
    color: rgb(236, 222, 28) !important;
}
.v-tabs-slider {
    max-width: 44px;
    margin: 0 auto;
}
.v-tab::before {
    display: none;
}
.font-h1-title {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    color: #fff !important;
    font-size: 30px;
}
.font-h1-title2 {
    margin-top: 50px !important;
    color: rgb(236, 222, 28) !important;
    font-size: 16px;
    font-weight: bold;
}
.font-h1-title22 {
    margin-top: 50px !important;
    color: rgb(38, 78, 138) !important;
    font-size: 20px;
    font-weight: bold;
}
.font-h1 {
    color: #fff !important;
}
.font-h1:hover {
    color: rgb(236, 222, 28) !important;
}
.font-h11 {
    color: rgb(236, 222, 28) !important;
}
/* style {
    padding: 0px !important;
} */
.tabs {
    transition: height 0.4s;
}

l {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

li {
    margin-bottom: 8px;
    color: #525f7f;
    position: relative;
}

li:before {
    content: "";
    width: 0%;
    height: 2px;
    background: #2ecc71;
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.input_container {
    position: relative;
}

input[type="password"] {
    line-height: 1.5;
    display: block;
    color: rgba(136, 152, 170, 1);
    font-weight: 300;
    width: 100%;
    height: calc(2.75rem + 2px);
    padding: 0.625rem 0.75rem;
    border-radius: 0.25rem;
    background-color: #fff;
    transition: border-color 0.4s ease;
    border: 1px solid #cad1d7;
    outline: 0;
}

input[type="password"]:focus {
    border-color: rgba(50, 151, 211, 0.45);
}

/* Checkmark  */

.is_valid {
    color: rgba(136, 152, 170, 0.8);
}
.is_valid:before {
    width: 100%;
}

.checkmark_container {
    border-radius: 50%;
    position: absolute;
    top: -9px;
    right: -5px;
    background: #2ecc71;
    width: 30px;
    height: 30px;
    visibility: hidden;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.4s ease;
}

.show_checkmark {
    visibility: visible;
    opacity: 1;
}

.checkmark {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: white;
    stroke-width: 15;
    stroke-linecap: round;
    stroke-dasharray: 180;
    stroke-dashoffset: 180;
}

.checked {
    animation: draw 0.5s ease forwards;
}

.fb-customerchat.fb_invisible_flow.fb_iframe_widget {
    z-index: 99998 !important;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

.fix-avatar {
    /* border-radius: 30% !important; */
    height: 25px !important;
    width: 25px !important;
    /* background: linear-gradient(
        to bottom right,
        rgb(40, 79, 151),
        rgb(10, 138, 116)
    ); */
}
.fix-avatar-icon {
    color: rgb(243, 93, 7) !important;
}
.or-text {
    font-size: 13px;
}
.or-text:hover {
    color: rgb(243, 93, 7) !important;
}

.or-text2 {
    font-size: 14px;
    color: rgb(50, 99, 139) !important;
}
</style>
