<template>
    <v-app>
        <home-app-bar @getPages="pages" />

        <home-view />
    </v-app>
</template>

<script>
export default {
    methods: {
        pages(result) {
            console.log(result, "-xx")
        },
    },
    components: {
        HomeAppBar: () => import("@/layouts/home/AppBar"),
        HomeView: () => import("@/layouts/home/View"),
    },
}
</script>
