html {
    scroll-behavior: smooth !important;
}

.mar-t-50 {
    margin-top: -50px !important;
}

.mar-t-40 {
    margin-top: -40px !important;
}

.mar-t-35 {
    margin-top: -35px !important;
}

.mar-t-30 {
    margin-top: -30px !important;
}

.mar-t-25 {
    margin-top: -25px !important;
}

.mar-t-20 {
    margin-top: -20px !important;
}

.mar-t-15 {
    margin-top: -15px !important;
}

.mar-t-10 {
    margin-top: -10px !important;
}

.mar-t-05 {
    margin-top: -5px !important;
}

.pd-0 {
    padding: 0px !important;
}

.fix-center {
    display: flex;
    align-items: right;
}

main {
    padding: 0px !important;
}

.v-slide-group__wrapper {
    /* background-color: #004679 !important; */
}

.cur-p {
    cursor: pointer;
}

.font-b {
    font-weight: bold;
}

.table-inv th {
    border: 1px solid rgb(241, 210, 35);
}

.table-inv {
    border: none;
    border-collapse: collapse;
}

.table-inv td {
    border-left: 1px solid rgb(243, 243, 243);
    border-right: 1px solid rgb(243, 243, 243);
}

.table-inv td:first-child {
    border-left: none;
}

.table-inv td:last-child {
    border-right: none;
}

.col-tr-1 {
    background-color: rgb(255, 217, 0);
}

.col-tr-1>th {
    color: rgb(53, 51, 51) !important;
}