<template>
    <v-app>
        <v-overlay :value="isLoading" z-index="300">
            <v-progress-circular
                indeterminate
                size="64"
                color="grey lighten-5"
            ></v-progress-circular>
        </v-overlay>
        <div>
            <Home />
        </div>
    </v-app>
</template>

<script>
import Home from "./layouts/home/Index"

import { mapState, mapMutations } from "vuex"

export default {
    name: "App",
    components: {
        Home,
    },
    mounted() {
        // if (this.$route.name == "LuckyDay") {
        //     this.test = true
        // } else {
        //     this.$route.name == "TimeAtt"
        //         ? (this.chk_route = true)
        //         : (this.chk_route = false)
        //     if (localStorage.token) {
        //         this.mutateToken()
        //         let date_a = new Date()
        //         let date = new Date(localStorage.storagetime)
        //         // let diffTime = Math.abs(date_a - date)
        //         // let diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24))
        //         let seconds = (date_a - date) / 1000
        //         // console.log(date_a, "--date")
        //         // console.log(date, "--local")
        //         // console.log(seconds)
        //         // console.log(diffTime, "--diffTime")
        //         // console.log(diffDays, "--diffDays")
        //         if (seconds > 0) {
        //             this.mutateToken()
        //         }
        //     }
        // }
    },
    data: () => ({
        chk_date: 0,
        chk_route: false,
        chk_route_name: "",
        test: false,
    }),
    computed: {
        ...mapState(["isLoading"]),
        ...mapState(["chk_token"]),
    },
    methods: {
        ...mapMutations(["mutateToken"]),
        login() {
            this.mutateToken()
        },
    },
}
</script>
